
<!-- CONTENIDO MODULO -->
		<div ng-app="saludo" ng-controller="moduloControlador">
			<div >	 	
				<p  translate>MDO_TITULO</p>
			</div>
	        <a ui-sref="sri-web.saludo.saludar">Saludar AAA</a>
	        <div data-ui-view></div>   
	    </div>       
<!-- FIN CONTENIDO MODULO -->	


