/*!
 * Nombre: sri-fuente-iconos.css
 * Descripcion: Hoja de estilos que inicialliza el tipos de fuente
 * Dependencias: N/A
 * Autor: Planificacion TI
 * Consideraciones Generales: 
 * Copyright SRI-2015.
 */
@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto/roboto_regular_macroman/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_regular_macroman/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto Regular Italic';
    src: url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.eot');
    src: url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_italic_macroman/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto Regular Bold';
    src: url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_bold_macroman/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto Italic Bold';
    src: url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto_bolditalic_macroman/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto Normal';
    src: url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.eot');
    src: url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
          url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
          url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto Italic Normal';
    src: url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.woff') format('woff'),
          url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.ttf') format('truetype'),
          url('../fonts/roboto/roboto_thinitalic_macroman/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto Light Normal';
    src: url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
          url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
          url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto Light Italic';
    src: url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.woff') format('woff'),
          url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.ttf') format('truetype'),
          url('../fonts/roboto/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto Medium Normal';
    src: url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.eot');
    src: url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.woff') format('woff'),
          url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.ttf') format('truetype'),
          url('../fonts/roboto/roboto_medium_macroman/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto Medium Italic';
    src: url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot');
    src: url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.woff') format('woff'),
          url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.ttf') format('truetype'),
          url('../fonts/roboto/roboto_mediumitalic_macroman/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}   
/*Reseteo de enlaces*/
#boostrap-overrides a:hover, a:focus, button{
    outline: none !important;
}

/********************************************** FUENTES ICONOS PRESONALIZADOS **********************/

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot');
  src: url('../font/fontello.eot?#iefix') format('embedded-opentype'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype'),
       url('recursos/font/fontello.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?34760190#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
/*.icon-1:before { content: '\e800'; } 
.icon-2:before { content: '\e801'; } 
.icon-3:before { content: '\e802'; } 
.icon-4:before { content: '\e803'; } 
.icon-5:before { content: '\e804'; } 
.icon-6:before { content: '\e805'; } 
.icon-7:before { content: '\e806'; } 
.icon-8:before { content: '\e807'; }
.icon-9:before { content: '\e808'; } 
.icon-a:before { content: '\e809'; } 
.icon-b:before { content: '\e80a'; } 
.icon-c:before { content: '\e80b'; } 
.icon-d:before { content: '\e80c'; } 
.icon-e:before { content: '\e80d'; } 
.icon-f:before { content: '\e80e'; } 
.icon-g:before { content: '\e80f'; } 
.icon-l:before { content: '\e810'; } 
.icon-m:before { content: '\e811'; } 
.icon-n:before { content: '\e812'; }
.icon-nÃŒÆ’:before { content: '\e813'; } 
.icon-o:before { content: '\e814'; } 
.icon-p:before { content: '\e815'; } 
.icon-q:before { content: '\e816'; } 
.icon-r:before { content: '\e817'; } 
.icon-s:before { content: '\e818'; }
.icon-t:before { content: '\e819'; }
.icon-v:before { content: '\e81a'; } 
.icon-w:before { content: '\e81b'; } 
.icon-x:before { content: '\e81c'; } 
.icon-y:before { content: '\e81d'; } 
.icon-z:before { content: '\e81e'; } 
.icon-h:before { content: '\e81f'; } 
.icon-i:before { content: '\e820'; } 
.icon-j:before { content: '\e821'; }
.icon-k:before { content: '\e822'; } */



/**************************************FUENTES ICONOS MENU PRINCIPAL***************************/

@font-face {
    font-family: 'sriicon';
    src: url('../fonts/sriicon.eot');
    src: url('../fonts/sriicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sriicon.woff') format('woff'),
         url('../fonts/sriicon.ttf') format('truetype'),
         url('../fonts/sriicon.svg#sriicon') format('svg');
    font-weight: normal;
    font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
	display: inline-block;
   font-family: 'sriicon';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}

.icon-matriculacion:before{content:'\0041';}
.icon-simar:before{content:'\0042';}
.icon-notas-credito:before{content:'\0043';}
.icon-devoluciones:before{content:'\0044';}
.icon-declaraciones:before{content:'\0045';}
.icon-comprobantes:before{content:'\0046';}
.icon-anexos:before{content:'\0047';}
.icon-ruc:before{content:'\0048';}
.icon-seguimiento-tramites:before{content:'\0049';}
.icon-preguntas-frecuentes:before{content:'\004a';}
.icon-mensajes-enviados:before{content:'\004b';}
.icon-mensajes-correos:before{content:'\004c';}
.icon-informacion-importante:before{content:'\004d';
	position: relative;
	z-index: 3;
	font-size: 20px;
	float: left;
    top: 8px;}
.icon-hora-tiempo-espera:before{content:'\004e';}
.icon-home-agencias:before{content:'\004f';}
.icon-estadisticas-datos-fiscales:before{content:'\0050';}
.icon-error:before{content:'\0051';}
.icon-eliminar:before{content:'\0052';}
.icon-editar:before{content:'\0053';}
.icon-documentos-enviados-procesos-finalizados:before{content:'\0054';}
.icon-documentos-certificados-tributarios:before{content:'\0055';}
.icon-deudas:before{content:'\0056';}
.icon-documento-acrobar-reader:before{content:'\0057';}
.icon-configuracion:before{content:'\0058';}
.icon-cerrar-sesion:before{content:'\0059';}
.icon-chat:before{content:'\005a'; margin-left: -4px;}
.icon-cerrar:before{content:'\0061';}
.icon-calendario:before{content:'\0062';}
.icon-calculadora:before{content:'\0063';}
.icon-aprobacion-envios-correctos:before{content:'\0064';}
.icon-telefono:before{content:'\0065';}
.icon-ubicacion-marcador-mapa:before{content:'\0066';}
.icon-localizacion-orientacion:before{content:'\0067';}
.icon-internacionalizacion-idiomas:before{content:'\0068';}
.icon-documento-extension-xml:before{content:'\0069';}
.icon-documentos-extension-xls:before{content:'\006a';}
.icon-alerta:before{content:'\006b';}
.icon-nuevo:before{content:'\006c';}
.icon-busqueda-documentos:before{content:'\006d';}
.icon-accesibilidad:before{content:'\006e';}
.icon-hamburguesa:before{content:'\006f';}
.icon-buscar:before{content:'\0070';}
.icon-perfil:before{content:'\0071';}
.icon-perfil-hamburguesa:before{content:'\0072';}
.icon-cargando:before{content:'\0073';}


/*alertas*/

 [class^="alert-"]:before, [class*=" alert-"]:before {
	display: inline-block;
   font-family: 'sriicon';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}

.alert-danger:before {
	content:'\0051';
	display: inline;
	float: left;
	padding: 0 15px;
	font-size: 20px;
	position: relative;
}


.alert-info:before {
	content:'\004d';
	display: inline;
	float: left;
	padding: 0 15px;
	font-size: 20px;
	position: relative;
}

.alert-success:before {
	content:'\0064';
	display: inline;
	float: left;
	padding: 0 15px;
	font-size: 20px;
	position: relative;
	color: #8CBF52;
}

.alert-warning:before {
	content:'\006b';
	display: inline;
	float: left;
	padding: 0 15px;
	font-size: 20px;
	position: relative;
	color: #F6BB41;
}