/*!
 * Nombre: sri-formulario.css
 * Descripción: Hoja de  estilos para los formularios
 * Dependencias: N/A
 * Autor: Planificación TI, Comunicaciones
 * Consideraciones Generales: 
 *					Este archivo es construido a partir de las directrices y selectores emitidos por Comunicaciones.
 * Copyright SRI-2015, 2016.
 */
 
/* -----------------------------------------------------------------*/
/* ---------->>> Paginas de Error                          <<<------*/
/* ---------------------------------------------------------------*/
.contenido-app .pagina-error{
    width:100%;
    height: 100%;
    padding: 0 20px 0 0;
    text-align: center;  
    color: #fff;   
}
/*Error 404*/
.contenido-app .pagina-error-404{
    background-color: #434A54;
    font-family:'Roboto Medium';           
}
.contenido-app .pagina-error-404 h1{    
    font-size: 88pt;
    color: #fff;
}
.contenido-app .pagina-error-404 h2{    
    font-size: 245pt;
    color: #fff;
}
.contenido-app .pagina-error-404 p{    
    font-size: 22pt;
    color: #434A54;
    background-color: #E7E8E8;
    padding: 10px;
    margin: 0 100px 0 100px;
}
/*Error 403*/
.contenido-app .pagina-error-403{
    background-color: #666D79;
    font-family:'Roboto Medium';  
    color: #fff;  
}
.contenido-app .pagina-error-403 h1{   
    color: #fff; 
    font-size: 88pt;
}
.contenido-app .pagina-error-403 h2{  
    color: #fff;  
    font-size: 245pt;
}
.contenido-app .pagina-error-403 p{    
    font-size: 49pt;
    color: #fff;  
}
/*Error 500*/
.contenido-app .pagina-error-500{
    color: #fff;
    background-color: #AAB2BD;
    font-family:'Roboto Medium';    
}
.contenido-app .pagina-error-500 h1{    
    font-size: 246pt;
    color: #fff;
}
.contenido-app .pagina-error-500 h2{    
    font-size: 88pt;
    color: #fff;
}
.contenido-app .pagina-error-500 p{    
    font-size: 33pt;
    color: #fff;
}

/* -----------------------------------------------------------------------*/
/* ---------->>> Botones (sobreescribe los colores de boostrap)<<<-------*/
/* ---------------------------------------------------------------------*/

/************************Botones***********************************/
/* Redefine los estilos de .btn */
.seccion-botones{
    position: relative;
    text-align: center;
    padding: 2px;
}
.btn{
    font-family: 'Roboto Medium'; 
    border-radius: 0px;
    font-size: 11pt;
    color: #F5F7FA;
    background-color: #4FC1EA;
    border: 0;  
    padding:3px;
}
input[type="button"],html  input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
 padding:3px;
 width:auto;	 
}
.ui-button, html  input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
    color: #F5F7FA !important;
    background-color: #4FC1EA;
    border: #4FC1EA 1px;    
    margin: 2px 1px 2px 1px;	
	width:auto;	
}
.ui-button-text, ui-button-text-only{
    font-family: 'Roboto Bold', 'Helvetica','Arial', 'sans-serif';
    border-radius: 0px;
    font-size: 11pt;
    color: #F5F7FA;
}

/* Redefine los estilos de .btn para el evento hover, active y focus */
.ui-button:hover, .ui-button:focus, .ui-button.focus, .ui-button:active, .ui-button.active, .open > .dropdown-toggle.ui-button ,
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="file"]:hover::-webkit-file-upload-button[disabled]:hover, button[disabled]:hover, button:hover,
input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="file"]:focus::-webkit-file-upload-button[disabled]:focus, button[disabled]:focus, button:focus,
input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, input[type="file"]:active::-webkit-file-upload-button[disabled]:active, button[disabled]:active, button:active{
    background-color: #00B1D7;
    border-color: #00B1D7;
}
.ui-button:active, .ui-button.active, .open > .dropdown-toggle.ui-button {
    background-image: none;
}
/*boton desactivado*/
.ui-button[disabled],
input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, input[type="file"]:disabled::-webkit-file-upload-button[disabled], button[disabled], button:disabled{
    color: #F5F7FA;
    background-color: #AAB2BD;
    border-color: #AAB2BD;
}
.ui-button[disabled]:hover, .ui-button[disabled]:focus, .ui-button[disabled]:active,
input[type="button"]:disabled:hover, input[type="submit"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="file"]:disabled:hover::-webkit-file-upload-button[disabled]:disabled:hover, button[disabled]:disabled:hover, button:disabled:hover,
input[type="button"]:disabled:focus, input[type="submit"]:disabled:focus, input[type="reset"]:disabled:focus, input[type="file"]:disabled:focus::-webkit-file-upload-button[disabled]:disabled:focus, button[disabled]:disabled:focus, button:disabled:focus,
input[type="button"]:disabled:active, input[type="submit"]:disabled:active, input[type="reset"]:disabled:active, input[type="file"]:disabled:active::-webkit-file-upload-button[disabled]:disabled:active, button[disabled]:disabled:active, button:disabled:active{
    background-color: #656D78;
    border-color: #656D78;
}
.ui-button .badge , input[type="button"] .badge , input[type="submit"] .badge , input[type="reset"] .badge , input[type="file"] .badge ,.button .badge {
    background-color: #F5F7FA;
    color: #AAB2BD;
}
.btn-apagado .badge {
    background-color: #F5F7FA;
    color: #AAB2BD;
}

/* -------------------------------------------------------*/
/* -------------------->>> Tooltip <<<-------------------*/
/* ------------------------------------------------------*/
.tooltip-inner{ 
    background-color:#4FC1EA;
    border-radius:0px;
    color: #fff;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #0C4597;
}

.tooltip.top-left .tooltip-arrow {
  bottom: -5px;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #0C4597;
}
.tooltip.top-right .tooltip-arrow {
  bottom: -5px;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #0C4597;
}
.tooltip.bottom-left .tooltip-arrow {
  top: -5px;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #0C4597;
}
.tooltip.bottom-right .tooltip-arrow {
  top: -5px;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #0C4597;
}
/* -----------------------------------------------------------------*/
/* ---------->>> Estilos para Tablas de Contenido <<<-------*/
/* ----------------------------------------------------------------*/
h1{
    font-size: 19pt;
}
h2{
    font-family: 'Roboto Regular';
    font-size: 17pt;
}
.contenido-app .contenedor{
    padding-left: 25%;
    padding-right: 25%;
}
.contenido-app  h1, .contenido-app h2{
    margin-top: 5px;
    margin-bottom: 5px;
}
.contenido-app h1, .contenido-app fieldset > legend{
    color: #434A54;
}
.contenido-app h2{
    font-weight: normal;
    font-size: 17pt;
    color: #434A54;
}
.contenido-app .instruccion{
    font-weight: normal;
    font-family: 'Roboto Light';
    font-size: 11pt;
}
.contenido-app .seccion-notificaciones{
    font-weight: normal;
    font-size: 11pt;
    text-align: left;
}

.contenido-app fieldset{
    text-align: center;
    padding-top: 5%;
}
/*Etiquetas*/
.contenido-app .etiqueta, .contenido-app label{
    font-weight: bold;
    font-size: 11pt;
    color: #434A54;    
    display: inline-block;
    float: left;
}
.contenido-app .etiqueta:after, .contenido-app label:after , .contenido-app output:after{
    content:": ";
}
/*Texto salida -  outputext*/
.contenido-app .outputext, .contenido-app output{
    font-weight: normal;
    font-size: 11pt;
    color: #434A54;    
    display: inline-block;    
}
:-moz-placeholder {    
    font-style: italic;
    color: #AAB2BD;
} 
::-webkit-input-placeholder {
    font-style: italic;
    color: #AAB2BD;
}
/*quitar estilos por defecto para el foco*/
*:focus {
    outline: none;
}

.contenido-app .input[type="text"], .contenido-app .input[type="textarea"]{
    font-weight: lighter;
    font-size: 11pt;
    color: #434A54;    
    padding: 2px;
    padding-right:30px;
    border: 1px #CCD1D9 solid;
}
.contenido-app .input[type="text"]:focus, .contenido-app .input[type="text"]:focus{
    text-shadow: 2px;
    border: 2px #CCD1D9 solid;
    box-shadow: 5px 5px 0 #AAA;
}
.contenido-app fieldset .input[type="submit"]{
    text-align: center;
}
/* campos requeridos*/
input:required, textarea:required {
    content: "*";
    /*background: #fff url(images/red_asterisk.png) no-repeat 98% center;*/
}
input:focus:invalid, textarea:focus:invalid, input:focus:required:invalid, textarea:focus:required:invalid {
    /*background: #fff url(images/invalid.png) no-repeat 98% center;*/
    content: "*";
    border:2px solid #EA5565;
    box-shadow: 0 0 3px #aaa; 
}
/**ayudas contextuales para campos de texto*/
.error-contextual {
    background: #DA4453;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; 
    position: absolute;/*formatea en dos lineas*/
    display: none;
}
.error-contextual::before {
    content: "\25C0";
    color:#DA4453;
    position: absolute;
    top:1px;
    left:-6px;
}
input:focus + .error-contextual {display: inline;}
input:required:valid + .error-contextual {background: #A1C96A;} /* change form hint color when valid */
input:required:valid + .error-contextual::before {color:#A1C96A;} /* change form hint arrow color when valid */
/**************************/
.grupo-controles {    
    padding: 5px 10px 10px 2px;
    text-align: right;
}
.grupo-controles input{
    width: 70%;
    box-shadow: none;
}
.grupo-fromulario.has-success label {
    color: #42B598;
}
.grupo-fromulario.has-success .form-control {
    border-color: #42B598 !important;
    box-shadow: none;
}
.grupo-fromulario.has-warning label {
    color: #F6BB41;
}
.grupo-fromulario.has-warning .form-control {
    border-color: #F6BB41 !important;
    box-shadow: none;
}
.grupo-fromulario.has-error label {
    color: #DA4453;
}
.grupo-fromulario.has-error .form-control {
    border-color: #DA4453 !important;
    box-shadow: none;
}

/**************************************************************/
/*********************>>> TABS <<<*****************************/
/***************************************************************/
.nav-pills > li > a {
    border: 1px #AAB2BD solid;
    border-bottom: 0;
    color: #AAB2BD;
    font-family: 'Roboto Regular';
    height: 30px;
    border-radius: 0px;
}
.nav > li > a {
    position: relative;
    display: block;
  
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #4FC1EA;
}
 .navbar-collapse{
       text-align: left;
    }
     .navbar-collapse{
       text-align: left;
    }
    
    
/*************************/
    
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tab-pane .tab-content{
    float: right;
    width: 65%;
}

.show-grid{
    margin-bottom: 15px;
}

.panel-heading{
    padding: 0;
}

.panel-heading .nav-tabs li a{
    color: #FFFFFF;
    border: none;
    border-radius: 0;
}

.panel-heading .nav-tabs li.active a, .panel-heading .nav-tabs li a:hover, .panel-heading .nav-tabs li a:focus{
    background: #00408F;
    color: #FFFFFF;
    border: none !important;
    transition: all 0.5s ease-in-out 0s;
}

.tabs-left .nav-tabs > li > a, .tabs-left .nav-tabs > li.active > a, .tabs-left .nav-tabs > li > a:hover, .tabs-left .nav-tabs > li > a:focus, .tabs-left .nav-tabs > li.active > a:hover{
    background-color: none;
    color: #FFFFFF !important;
    font-size: 15px;
    max-width: 200px;
    text-align: center;
    line-height: 15px;
    padding: 15px 22px;
    margin-bottom: 5px;
    transition: all 0.5s ease-in-out 0s;
}

.tabs-left .nav-tabs > li > a > .icon{
    float: left;
    display: block;
    margin-top: 6px;
    margin-right: 4px;
    font-size: 45px;
}

.tabs-left .nav.nav-tabs{
    border: none;
}

.tab-pane h3{
    margin-top: 0;
}
