<div class="pagina-error pagina-error-404">
    <br/> <br/>
    <hgroup>             
        <h1 data-translate>SRI.404.TITULO</h1>
        <h2 data-translate>SRI.404.SUBTITULO</h2>       
        <h3 class="pagina-error-texto" data-translate>SRI.404.MENSAJE</h3>
    </hgroup>
    <div>
        <p  data-translate>SRI.404.MENSAJE</p>
    </div>
    <br/><br/>
</div>