
<ul class="nav navbar-top-links navbar-right" data-ng-class="inicioCtrl.getClassResponsiveBar(model.isCollapsedBar)">
   <li style="font-size :{{model.total}}em" id="itemPerfil" tabindex="2" >
        <a href="" data-toggle="dropdown" data-ng-click="inicioCtrl.model.isCollapsedBar || inicioCtrl.mostrarPerfilUsuario();inicioCtrl.showHideResponsive()"  role="button" class="botonesMenuDerecha">
        <span class="icon-perfil" aria-hidden="true"></span></a>
        <ul  data-ng-style="model.estilo" class="dropdown-menu menuPerfil"  role="button">
            <li style="font-size :{{model.total}}em"  class="estilo-lista">
            	<a data-toggle="dropdown" role="button" data-ng-click="inicioCtrl.mostrarPerfilUsuario();" > <span data-translate data-uib-tooltip="Perfil">SRI.CONF_CUENTA.TITULO.PERFIL</span>
            	</a>
            </li>
            <li style="font-size :{{model.total}}em" class="estilo-lista">
            	<a data-toggle="dropdown" role="button" ><span data-translate> SRI.CONF_CUENTA.TITULO.RUC</span>
            	</a>
            </li>
            <li style="font-size :{{model.total}}em"  class="estilo-lista">
            	<a data-toggle="dropdown" role="button"> <span data-translate>SRI.CONF_CUENTA.TITULO.FAVORITOS</span>
            	</a>
            </li>
           <li style="font-size :{{model.total}}em"  class="estilo-lista ">
            	<a data-toggle="dropdown" role="button"   href="#"><span data-translate> SRI.CONF_CUENTA.TITULO.CERRAR_SESION</span>
            	</a>
            </li>
        </ul>
   </li>
      <!-- Notificaciones y mensajes-->
    <li style="font-size :{{model.total}}em" id="itemMensajes" tabindex="3" class=" boton-cabecera">
        <a data-toggle="dropdown" id="btnMensajes" href="" class="botonesMenuDerecha" data-ng-click="inicioCtrl.showHideResponsive()">
            <i class="icon-mensajes-correos" aria-hidden="true"></i>
            <span class="notificacion-burbuja">{{numeroNotificaciones.numero}}</span>
        </a>
     <ul  data-ng-style="model.estilo" class="dropdown-menu listaNotificaciones"  role="button" data-menu-notificaciones="menunotificaciones">      
     </ul>
    </li>
    <!-- Idioma-->
    <li style="font-size :{{model.total}}em" id="itemIdioma" class="dropdown" tabindex="4">
        <a data-toggle="dropdown"  role="button" data-ng-click="inicioCtrl.showHideResponsive()" class="botonesMenuDerecha ">
        <span style="font-size :{{model.total}}em" >{{inicioCtrl.lenguajeActual | uppercase}}</span> 
           <i style="font-size :{{model.total}}em" class="icon-internacionalizacion-idiomas "></i> 
        </a>
        <ul data-ng-style="model.estilo" class="dropdown-menu menuIdioma">
            <li style="font-size :{{model.total}}em" >
                <a data-ng-click="inicioCtrl.switchLanguage('es')"  role="button">
                    <strong data-ng-style="model.estilo" class="color-texto" data-translate>SRI.OPCION.LENGUA_ESPANIOL</strong>
                </a>
            </li>
            <li style="font-size :{{model.total}}em" >
                <a data-ng-click="inicioCtrl.switchLanguage('en')"  role="button">
                    <strong data-ng-style="model.estilo" class="color-texto" data-translate>SRI.OPCION.LENGUA_INGLES</strong>
                </a>
            </li>
            <li style="font-size :{{model.total}}em" >
                <a data-ng-click="inicioCtrl.switchLanguage('qu')"  role="button">
                   <strong data-ng-style="model.estilo" class="color-texto" data-translate>SRI.OPCION.LENGUA_QUICHUA</strong>
                </a>
            </li>
        </ul>
    </li>
    <!-- Salir-->
    <li style="font-size :{{model.total}}em" id="itemSalir" tabindex="5" class="mostrarOpcionMovil">
        <a href="#"  role="button">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </li>
    
    <!-- accesibilidad -->
     <li style="font-size :{{model.total}}em" id="itemAccesibilidad"  class="dropdown accesibilidadMenuDerecha"  data-ng-class="inicioCtrl.getClassResponsiveBar(model.isCollapsedBar)">
        <a data-toggle="dropdown" class="botonesMenuDerecha dropdown-toggle" id="btnAccesibilidad" role="button"  data-ng-click="inicioCtrl.ShowHide(false)">
        <span class="icon-accesibilidad" aria-hidden="true"></span></a>
        <menu-accesibilidad></menu-accesibilidad>
   </li>
</ul>

<p style="font-size :{{model.total}}em" class="navbar-text pull-right mostrarOpcionMovil alineacion-userInfo">
  		 Marianela Monserrath Guachamin Villacreses 
  		 <br/> 0700736183001
</p>
