<seccion class=" main-header ">
	 <a href="" class="sidebar-toggle icon-hamburguesa " data-ng-click="inicioCtrl.colapsarMenu()"
		role="button" tabindex="1"> <span data-ng-style="model.estilo"  class="sr-only">Toggle navigation</span>
	</a> <a  class="navbar-brand" rel="home" href="" data-tooltip="SRI"> <img  class="logo img-responsive" alt="Logo SRI en linea"
		src="recursos/imagenes/logo.svg">
	</a> 
	<a href="" class="right_bar icon-perfil-hamburguesa" data-ng-click="inicioCtrl.colapsarBarra()"
		role="button"> <span class="sr-right">Toggle navigation_derecha</span>
</a> 
</seccion>
<seccion id="cabecera-botones" data-ng-include="'app/plantilla/paginas/cabecera-botones.html'"
class="menu_derecha"></seccion>