<div style="background:{{model.background}};font-size :{{model.total}}em" data-ng-style="model.estilo" id="contenidoInicio"  class="wrapper">
	<header class="main-header">
		<nav class="navbar navbar-default navbar-static-top cabecera-principal " role="navigation">

			<div id="cabeceraPrincipal" data-ng-include="'app/plantilla/paginas/cabecera.html'"></div>
		</nav>
      	<div class="mostrarOpcionMovil">
		<a type="button" data-toggle="dropdown"  data-ng-click="inicioCtrl.ShowHide(false)" class="btn pestania-accesibilidad semi-circulo-izquierda hidden-xs dropdown-toggle" tabindex="11">
			<i class="icon-accesibilidad pestania-flotante"></i>
		</a>
			<menu-accesibilidad></menu-accesibilidad>	
		
        </div>
	</header>
	<!-- navegacion -->
 	<aside class="main-sidebar" data-ng-class="{'noneStyle' : model.noneStyle}">
		<section class="sidebar navbar-nav">
			<data-menu-directiva id="menuNavegacion">
			</data-menu-directiva>
		</section>
  		<!--<a class="boton-menu" data-ng-click="colapsarMenu()" role="button" ng-class="{'botonMenuCollapsed' : botonMenuCollapsed}"></a>-->
	</aside>

	<!--contenido-->
	<div class="content-wrapper" data-ng-class="inicioCtrl.getClass(model.isCollapsed)">
		<div>
			<!--cabecera de la pagina -->
			<section >
				<div class="breadcrumb">
					<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.proxy"
						template-url="recursos/libs/externos/angular-utils-ui-breadcrumbs/uiBreadcrumbs.tpl.html"></ui-breadcrumbs>
				</div>
			</section>
			<!--  cuerpo del contenido -->
			<section id="contenido-principal">
				<section id="contenidoAplicaciones" data-ui-view></section>
			</section>
		</div>
	</div>
		
       
	<a data-ng-style="model.estilo" class="btn pestania-chat circulo" data-ng-class="inicioCtrl.getClassResponsive(model.isCollapsed)" tabindex="12">
			<i class="icon-chat pestania-flotante"></i>
		</a>
	<footer data-ng-style="model.estilo" id="pieAplicaciones" class="main-footer" data-ng-class="inicioCtrl.getClassResponsive(model.isCollapsed)">
	 </footer>
	 <div id="overlay" data-ng-class="{'fade-content': inicioCtrl.model.isCollapsedBar}" data-ng-click="inicioCtrl.colapsarBarra()"></div>
	
	<!--modal imagen perfil-->
	<data-menu-imagen ></data-menu-imagen>
	 
</div>