<meta charset="utf-8">
<header id="cabecera-login"> </header>
<!-- /header -->
<section id="contenido-login" role="main">
	<div class="container " style="background:{{model.estilo.backgroundColor}}; color:{{model.estilo.color}};font-size :{{model.total}}em">
		<div class="row">
			<form class="form-horizontal singin-form" novalidate name="loginPantalla" >
				<div id="logoDiv" class="form-group">
					<img src="recursos/imagenes/logo.svg" alt="Logo SRI" class="logo-signin">
				</div>
				<br />
				<div class="alert alert-danger" style="font-size :{{model.total}}em" data-ng-style="model.estilo"
					    data-ng-show="inicioCtrl.validar && inicioCtrl.loginPantalla.ruc.$error.required || inicioCtrl.validar && inicioCtrl.loginPantalla.clave.$error.required"
					    data-translate>
					    SRI.GENERAL.ERROR_OBLIGATORIOS
				</div>
				<div class="alert alert-danger" style="font-size :{{model.total}}em" data-ng-style="model.estilo"
					data-ng-if=" loginPantalla.ruc.$viewValue != '1234567890001' && validar && loginPantalla.ruc.$viewValue || 
					loginPantalla.clave.$viewValue != '12345' && validar && loginPantalla.clave.$viewValue"  
					data-translate>
					SRI.GENERAL.USUARIO.CONTRASENIA.INVALIDOS
				</div>
			
				<div class="form-group">
					<label style="color:{{model.estilo.color}};font-size :{{model.total}}em" data-ng-style="model.estilo" class="lbl-login col-xs-12" for="txtIdUsuario" data-translate> SRI.LOGIN.ETIQUETA.RUC</label>
					<div class="col-xs-10">
						<input style="width:{{model.widthText}}%;background:{{model.background}}; color:{{model.estilo.color}};font-size :{{model.total}}em; border: solid 1px {{model.estilo.color}};" 
						    type="text" class="form-control" id="txtIdUsuario" data-translate
							data-translate-attr-placeholder="SRI.LOGIN.ETIQUETA.RUC"  name="ruc" data-ng-model="ruc"  
							data-ng-focus="focus=loginPantalla.ruc.$error.required"  
							data-ng-class="{ error: validar && loginPantalla.ruc.$error.required}" maxlength="13"
							required>

					</div>
					<div data-ng-style="model.estilo" class="col-xs-2">
						<i style="color:{{model.estilo.color}};left:{{model.left}}px" class="icon-informacion-importante title colorInformacion" ><span style="font-size :{{model.totalEtiquetas}}em" data-ng-style="model.estilo" data-translate>SRI.LOGIN.TOOLTIP.RUC</span></i>
					</div>
				</div>
				<div class="form-group ">
					<label style="color:{{model.estilo.color}};font-size :{{model.total}}em" data-ng-style="model.estilo" class="lbl-login col-xs-4" for="txtIDAdicional" data-translate>SRI.LOGIN.ETIQUETA.ID_ADICIONAL</label>
					<div class="col-xs-10">
						<input style=" width:{{model.widthText}}%;background:{{model.estilo.backgroundColor}}; color:{{model.estilo.color}};font-size :{{model.totalEtiquetas}}em; border: solid 1px {{model.estilo.color}};" 
						    type="text" id="txtIDAdicional" name="txtIDAdicional" value="" data-translate data-ng-model="idAdicional"
							data-translate-attr-placeholder="SRI.LOGIN.MASCARA.ID_ADICIONAL" class="form-control">
					</div>
					<div  class="col-xs-2">
						<i  style="color:{{model.estilo.color}};left:{{model.left}}px" class="icon-informacion-importante title colorInformacion"><span style="font-size :{{model.totalEtiquetas}}em" data-ng-style="model.estilo" data-translate>SRI.LOGIN.TOOLTIP.IDADICIONAL</span></i>
					</div>
				</div>
				<div class="form-group">
					<label style="color:{{model.estilo.color}};font-size :{{model.total}}em" data-ng-style="model.estilo" class="lbl-login  col-xs-3" for="txtClave" data-translate>SRI.LOGIN.ETIQUETA.CLAVE</label>
					<div class="col-xs-10">
						<input style=" width:{{model.widthText}}%;background:{{model.estilo.backgroundColor}}; color:{{model.estilo.color}};font-size :{{model.totalEtiquetas}}em; border: solid 1px {{model.estilo.color}};" data-ng-style="model.estilo"
						    type="password" class="form-control" id="txtClave" data-translate name="clave" data-ng-model="clave" 
							data-translate-attr-placeholder="SRI.LOGIN.MASCARA.CLAVE" data-ng-focus="focus=loginPantalla.clave.$error.required" 
							data-ng-class="{ error: validar && loginPantalla.clave.$error.required}" 
							required>
					</div>
					<div  class="col-xs-2">
						<i  style="color:{{model.estilo.color}};left:{{model.left}}px" class="icon-informacion-importante title colorInformacion"><span style="font-size :{{model.totalEtiquetas}}em" data-ng-style="model.estilo" data-translate>SRI.LOGIN.TOOLTIP.CLAVE</span></i>
					</div>
				</div>
				<div class="recuperar col-xs-10">
					<button style="height:{{model.height}}px; background:{{model.estilo.backgroundColor}}; color:{{model.estilo.color}};font-size :{{model.totalEtiquetas}}em;border-color:{{model.estilo.color}};" data-ng-style="model.estilo" type="submit" id="btnInicio"  name="btnInicio" class="btn btn-primary"  data-ng-click="inicioCtrl.validar=true;inicioCtrl.login(loginPantalla.ruc.$viewValue, loginPantalla.clave.$viewValue)" > <span data-translate> SRI.LOGIN.BOTON.INICIAR_SESSION </span></button>
				</div>
				<div class=" recuperar col-xs-10">
					<div class="btn">
						<a href="" title="" class="enlace-login"> <span class="glyphicon glyphicon-lock iconos-login" style="color:{{model.estilo.color}};"
							aria-hidden="true"></span> <span  style="color:{{model.estilo.color}};font-size :{{model.total}}em" data-ng-style="model.estilo" data-translate> SRI.LOGIN.BOTON.RECUPERAR </span><br> <span 
							style="color:{{model.estilo.color}};font-size :{{model.total}}em" data-ng-style="model.estilo" data-translate>
								SRI.LOGIN.BOTON.RECUPERAR_CLAVE</span>
						</a>
					</div>
					<br> <br> <br> 
					<div class=" nav navbar-top-linksLogin col-xs-10" role="natigation">
						<div class="form-group ">
							<ul class="lista-sin-vinieta">
								<li id="itemIdioma" class="dropdown"><a  data-ng-style="model.estilo" data-toggle="dropdown" role="button" style="color:{{model.estilo.color}};font-size :{{model.total}}em;"> <i
										class="glyphicon glyphicon-flag iconos-login" style="color:{{model.estilo.color}};" data-uib-tooltip="Internacionalización"></i> {{lenguajeActual |
										uppercase}}
								</a>
									<ul class="dropdown-menu">
										<li  style="font-size :{{model.total}}em" data-ng-style="model.estilo" ><a data-ng-click="inicioCtrl.switchLanguage('es')"> <strong class="color-texto" style="font-size :{{model.total}}em" data-ng-style="model.estilo" data-translate>SRI.OPCION.LENGUA_ESPANIOL</strong>
										</a></li>
										<li  style="font-size :{{model.total}}em" data-ng-style="model.estilo" ><a data-ng-click="inicioCtrl.switchLanguage('en')"> <strong class="color-texto" style="font-size :{{model.total}}em" data-ng-style="model.estilo" data-translate>SRI.OPCION.LENGUA_INGLES</strong>
										</a></li>
										<li  style="font-size :{{model.total}}em" data-ng-style="model.estilo" ><a data-ng-click="inicioCtrl.switchLanguage('qu')"> <strong class="color-texto" style="font-size :{{model.total}}em" data-ng-style="model.estilo" data-translate>SRI.OPCION.LENGUA_QUICHUA</strong>
										</a></li>
									</ul></li>

								<li class="dropdown" >
								<a  data-ng-style="model.estilo" id="btnAccesibilidad"  data-ng-click="inicioCtrl.ShowHide(true)" data-toggle="dropdown"  name="btnAccesibilidad" href="" role="button">
									<span class="fa fa-child iconos-login" style="color:{{model.estilo.color}};" data-uib-tooltip="Accesibilidad"></span>
								</a>
							
								<data-menu-accesibilidad></data-menu-accesibilidad>
								</li>

							</ul>


						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<footer id="pie-login">
	<span style="background:{{model.estilo.backgroundColor}}; color:{{model.estilo.color}};font-size :{{model.total}}em"  data-translate> SRI.LOGIN.ETIQUETA.NAVEGADORES </span> <b style="background:{{model.estilo.backgroundColor}}; color:{{model.estilo.color}};font-size :{{model.total}}em" >|</b> <span style="background:{{model.estilo.backgroundColor}}; color:{{model.estilo.color}};font-size :{{model.total}}em" data-translate>SRI.LOGIN.ETIQUETA.RESOLUCION_OPTIMA
	</span></br> <span style="background:{{model.estilo.backgroundColor}}; color:{{model.estilo.color}};font-size :{{model.total}}em"  data-translate> SRI.LOGIN.ETIQUETA.DERECHOS </span>
</footer>