<section id="sectionMenuBusqueda" >
            <form id="frmBuscarMenu" action="#" method="post">
                <div class="grupo-buscar">
                   <button  name="btnBuscar" id="btnBuscar" class="btn btn-link active"  data-ng-click="mostrarPerfil = !mostrarPerfil"
                    tabindex="11" data-translate  data-tooltip="BTN_BUSCAR">
                        <span class="fa fa-search" aria-hidden="true"></span>  </button> 
                    <input id="txtBuscar"  tabindex="7"  type="search" tabindex="10" data-translate placeholder="MASCARA_BUSCAR" data-tooltip="TOOLTIP_BUSCAR_MENU"
                           maxlength="25"/>      
                           
                                      	
                   <span>  
<!--                         <button type="submit" tabindex="8"   name="btnBuscar" id="btnBuscar" class="btn btn-principal" tabindex="11" data-translate  data-tooltip="BTN_BUSCAR"><i class="fa fa-search"></i></button>
                    </span> -->
                </div>
            </form>
</section>

