<!-- notificaciones -->
<li tts="{{ttsEnabled}}" class="estilo-lista" data-ng-class={{item.ngclass}} style="background:{{model.background}};"
data-ng-repeat="item in items" >

<a data-toggle="dropdown" role="button"   data-ui-sref={{item.url}} 
	aria-expanded="true"  data-ui-sref={{item.url}} tabindex="0" class="notificacionVisitada color-texto">
	<span  style="font-size :{{model.total}}em;color:{{model.estilo.color}};background:{{model.background}};" 
	class="itemNotificacionesMenuDerecho">{{item.notificacion}}, {{item.mes}} {{item.anio}}</span>
</a> 	
</li>

<!-- opcion ver todos -->
 <li  tts="{{ttsEnabled}}" class="itemVerTodos" style="background:{{model.background}};">
 	<a  data-toggle="dropdown" class="color-texto" href="#">
 		<span style="font-size :{{model.total}}em;color:{{model.estilo.color}};background:{{model.background}};">Ver todos</span>
    </a>
</li>