
<li class="sidebar-search">
	<div class="input-group" role="search">
	
		<label style="background:{{model.background}}; color:{{ model.colores }}; font-size :{{model.total}}em;" class="elemento-accesible" for="txtBuscar">Texto a buscar</label> 
		<input style="background:{{model.background}}; font-size :{{model.total}}em;"  id="txtBuscar" name="txtBuscar" type="text"
			class=" form-control input-search" data-ng-change="colapsarMenu()"
			data-translate data-translate-attr-placeholder="SRI.MASCARA.BUSCAR"
			data-ng-model="inicioCtrl.model.buscaMenu" tabindex="7">
			
		<span  style="background:{{model.background}};" class="input-group-btn" > 
			<span class="glyphicon glyphicon-search boton-search"></span>
		</span> 
		
	</div>
	</li>

<li  style="background:{{model.background}};font-size :{{model.total}}em;" data-ng-class={{item.ngclass}}  
data-ng-repeat="item in (filteredOptions = (items | filter:inicioCtrl.model.buscaMenu))" tabindex="8">
		
	<!-- opciones sin subitems  -->
<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1"  
	aria-expanded="true" aria-controls="collapse1" data-ui-sref={{item.url}} data-ng-show="!item.subItems" tabindex="0">
		<i class="{{item.icono}}"></i>{{item.nombre}} 
</a> 
<!-- opciones con subitems -->
<a style="background:{{model.background}};color:{{model.colores}};font-size :{{model.total}}em;" data-ui-sref={{item.url}} data-ng-click="check(item.id);showDetail(item.id);colapsarMenu()" 
data-toggle="collapse" data-ng-init="active==null" data-ng-show="item.subItems.length" tabindex="0" role="button"> 	
		
		<i class="{{item.icono}} alineacionIconoMenu"></i>
		<span class="alinearTextoMenu">{{item.nombre}}</span> 	
		<span data-ng-hide="model.active==item.id" class="glyphicon glyphicon-chevron-down  flecha-menu"></span>
		<span data-ng-show="model.active==item.id" class="glyphicon glyphicon-chevron-up  flecha-menu"></span>
</a>
		
	<div data-ng-if="inicioCtrl.model.buscaMenu" data-uib-collapse="model.collapseVar==item.id" > 
	<ul class="panel-collapse in collapse" role="tabpanel" 
		aria-labelledby="heading1" 
		data-ng-show="item.subItems.length">
		<li data-ui-sref-active="active" id="itemSubMenu" 
			data-ng-repeat="subItem in item.subItems | filter:model.buscaMenu">
			<a data-ui-sref={{subItem.url}} tabindex="0" 
			data-ng-click="limpiarAlertas()"> <span class="alinearTextoMenu">
				{{subItem.nombre}}</span>
			</a>
		</li>
	</ul>
</div>
	<div data-ng-if="!inicioCtrl.model.buscaMenu" data-uib-collapse="model.collapseVar!=item.id "  > 
    <ul class="panel-collapse in collapse" role="tabpanel" 
		aria-labelledby="heading1" 
		data-ng-show="item.subItems.length">
		<li data-ui-sref-active="active" style="color:{{model.colores}};background:{{model.background}};"
			data-ng-repeat="subItem in item.subItems | filter:model.buscaMenu">
			<a style="color:{{model.colores}};"
			data-ui-sref={{subItem.url}} tabindex="0" 
			data-ng-click="limpiarAlertas()"> <span class="alinearTextoMenu">
				{{subItem.nombre}}</span>
			</a>
		</li>
	</ul>
</div>
</li>