


	<div class="menuPerfilCentro" id="itemsMenuPerfil" >
	
		<li role="listitem" data-ng-class="[{{itemPerfil.ngclass}}, configuracionCuentaCtrl.getClassResponsiveMenuConf(opcionesPerfil.isCollapsedPerfil)]"  data-ng-repeat="itemPerfil in items" 
		data-uib-collapse="configuracionCuentaCtrl.opcionesPerfil.isCollapsedPerfil" class="mostrarOpcionesMenu"  tabindex="8">
			
			<a id="btnItemMenuPerfil" data-ng-style="model.estilo" data-ui-sref={{itemPerfil.url}} tabindex="0" role="button" data-toggle="modal" aria-expanded="true"
				data-parent="#MenuPerfil" data-target="#ModalPerfil{{itemPerfil.id}}"  class="list-group-item" >
				 {{itemPerfil.nombre}} 
                       
			</a>
			
		</li>

</div>

	<div class="menuRuc">
		<li role="listitem" data-ng-class="[{{itemRuc.ngclass}}, configuracionCuentaCtrl.getClassResponsiveMenuConf(opcionesPerfil.isCollapsedRuc)]"  data-ng-repeat="itemRuc in itemsRuc" 
		data-uib-collapse="configuracionCuentaCtrl.opcionesPerfil.isCollapsedRuc" class="mostrarOpcionesMenu" tabindex="9">
			<a  data-ng-style="model.estilo" data-ui-sref={{itemRuc.url}} tabindex="0" role="button" data-toggle="collapse" aria-expanded="true"
				data-parent="#MenuRuc" class=" list-group-item"> 
				{{itemRuc.nombre}} 
			</a>
		</li>
</div>
 
 
  	<div class="alinearMenuFavorito">
  		<li role="listitem" data-ng-class="[{{itemFavoritos.ngclass}}, configuracionCuentaCtrl.getClassResponsiveMenuConf(opcionesPerfil.isCollapsedFavorito)]" 
  		data-ng-repeat="itemFavoritos in itemsFavoritos" data-uib-collapse="configuracionCuentaCtrl.opcionesPerfil.isCollapsedFavorito" class="mostrarOpcionesMenu" tabindex="10">
   			<a  data-ng-style="model.estilo" class="list-group-item" data-toggle="collapse" aria-expanded="true"
      			data-ui-sref={{itemFavoritos.url}} tabindex="0" data-ng-click="checkFavorito(itemFavoritos.id);showDetailFavorito(itemFavoritos.id)">
      			<i class="{{itemFavoritos.icono}} alineacionIconoMenu sizeIconMenuFavorito" ></i>
      			<span class="alinearTextoMenu">{{itemFavoritos.nombre}}</span>
      			<span data-ng-style="model.estilo" data-ng-hide="active==itemFavoritos.id" class="glyphicon glyphicon glyphicon-chevron-down pull-right flecha-favorito"></span>
				<span data-ng-style="model.estilo" data-ng-show="active==itemFavoritos.id" class="glyphicon glyphicon-chevron-up pull-right flecha-favorito"></span>
      		</a>
      		 <ul class="collapse bordeLista" id="SubMenuFavorito" aria-labelledby="heading1"
      			data-ng-show="itemFavoritos.subItems.length" data-uib-collapse="collapseVarFavorito!=itemFavoritos.id">
      			<li role="listitem" data-ui-sref-active="active" id="itemSubMenuFavoritoHijo" data-ng-repeat="subItemHijo in itemFavoritos.subItems">
        			<a data-ng-style="model.estilo" class="list-group-item" role="button" data-ui-sref={{subItemHijo.url}} tabindex="0">{{subItemHijo.nombre}}</a>
        		</li>
      		</ul>
      	</li>
  </div>