<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">  
</head>
<h1 class="elemento-accesible">Configuracion cuenta de usuario </h1> 
<div collapse="mostrarPerfil" class="container-fluid" id="mostrar-ocultar"  >
	
		
			

<input id="datePicker2" />


 <div>
            <h4>Select date:</h4>
            <input kendo-date-picker
             ng-model="dateString"
             k-ng-model="dateObject"
             style="width: 100%;" />
<pre>
dateString: {{ dateString }}
dateObject: {{ dateObject | date:"EEEE, MMMM d, yyyy" }}
typeof dateObject: {{ getType(dateObject) }}
dateObject instanceof Date: {{ isDate(dateObject) }}
</pre>
            
        </div>
        <div style="padding-top: 2em;">
            <h4>Select month:</h4>
            <input kendo-date-picker
             k-options="monthSelectorOptions"
             k-format="'MMMM yyyy'"
             style="width: 100%;" />
        </div>
		
		
	<input kendo-numerictextbox k-min="1" k-max="10" k-up-arrow-text="'Increment'" k-down-arrow-text="'Decrement'">
	
	<input kendo-datepicker="datePiker1" name="datePiker1" id="datePiker1" k-format="'dd/MM/yyyy'" ng-model="dateString" k-max = "maxDate" k-min = "minDate"/>

</div>

