<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">   
</head>
<h1 class="elemento-accesible">Configuracion cuenta de usuario </h1> 
<div collapse="mostrarPerfil" class="container-fluid" id="mostrar-ocultar" ng-controller="ConfiguracionCuentaControlador as configuracionCuentaCtrl">
	<div class="container">
		
		
		
		<div class="opciones-linea">
		
			<div class="col-md-12 col-sm-12 col-xs-12">

				<div class="row">
			<div class="col-md-8 col-sm-10">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 user">
						<div class="col-md-4 col-md-offset-1 col-sm-4 col-xs-10 col-xs-landscape-offset-6">
							<img ng-src="{{configuracionCuentaCtrl.opcionesPerfil.imagenPerfil.src}}" alt="perfil de usuario"
								class="img-responsive center-block img-circle" role="presentation"/>
					</div>			
				</div>
					
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
				<ul class="list-unstyled user-info">
						<li data-ng-style="model.estilo" class="letra-md">Juan Eduardo Villamar León</li>
						<li class="middle letra-sm" data-ng-style="model.estilo">0700736183001</li>
						<li class="last" data-ng-style="model.estilo">architech@gmail.com
						<a href="#"  role="button" class="botonSalirMovil elemento-accesible">
            			<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        				</a>
						</li>
				</ul>
				
			</div>
			
			
			</div>

					</div>
	
					<!-- Nav tabs -->
				<div class="tabbable tabs-below" role="tablist">
					<div class="col-md-8  col-sm-12  col-xs-12  ">
						<div class="row">
							<div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-0 col-xs-12">
								<ul class="nav nav-tabs" role="tab" data-ng-style="model.estilo">
									<li role="presentation">
										<a data-ng-style="model.estilo" data-target="#MenuPerfil"  data-toggle="collapse" data-ng-click="configuracionCuentaCtrl.colapsarMenuPerfil()" class="btn-menuPerfil mostrarMenu elemento-accesible ajuste-opcion-perfil" 
										role="button" tabindex="0" 
   							 			data-translate>SRI.CONF_CUENTA.TITULO.PERFIL</a>
									</li>
  									<li role="presentation">
  										<a data-ng-style="model.estilo" data-target="#MenuRuc"  data-toggle="collapse" data-ng-click="configuracionCuentaCtrl.colapsarMenuRuc()" class="btn-menuPerfil mostrarMenu elemento-accesible ajuste-opcion-perfil" 
  										role="button" tabindex="0" 
   						 					data-translate>SRI.CONF_CUENTA.TITULO.RUC</a>
  									</li>
  									<li role="presentation" class="alinearMenuFavorito" >
  										<a data-ng-style="model.estilo" data-target="#MenuFavoritoOp" class="btn-menuPerfil not-active ajuste-opcion-favoritos" data-toggle="collapse"  role="button" tabindex="0" 
  										data-ng-click="configuracionCuentaCtrl.colapsarMenuFavorito()" data-translate>SRI.CONF_CUENTA.TITULO.FAVORITOS</a>
  									</li>
  					
								</ul>
							
						</div>
					</div>
					
					<div class="row">
					<div class="col-md-10 col-md-offset-1  col-sm-10 col-xs-12">
					<ul class="list-group panel" role="list" data-menu-perfil="menuperfil" >
					</ul>
							
							
							</div>
							</div>	
				
						
					</div>		
				</div>
				
			</div>
					
		
		</div>
</div>
</div>
</div>

<!-- notificaciones de vencimiento-->
<div class="row rowMovil">
	<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1  colMovil-md-8 colMovil-md-offset-2 colMovil-sm-10 colMovil-sm-offset-1">
		<!-- Tab panes -->
		<div class="container">
			<div style="background:{{model.background}}; color:{{ model.colores }};border: solid 1px {{ model.colores }}; font-size :{{model.total}}em"
				class="alert-vencimiento alert-vencimiento-danger">
				Recuerde que quedan <span style="background:{{model.background}}; color:{{ model.colores }}; font-size :{{model.totalNumero}}em " class="dias-vencimiento">25</span>
				dias para su declaración de IVA Mensual.
			</div>

			<div style="background:{{model.background}}; color:{{ model.colores }};border: solid 1px {{ model.colores }};font-size :{{model.total}}em"
				class="alert-vencimiento alert-vencimiento-success">
				Recuerde que quedan <span style="background:{{model.background}}; color:{{ model.colores }};font-size :{{model.totalNumero}}em" class="dias-vencimiento">5</span>
				dias para su declaración de IVA Mensual.
			</div>

			<div style="background:{{model.background}}; color:{{ model.colores }};border: solid 1px {{ model.colores }};font-size :{{model.total}}em"
				class="alert-vencimiento alert-vencimiento-info">
				Recuerde que quedan <span style="background:{{model.background}}; color:{{ model.colores }};font-size :{{model.totalNumero}}em" class="dias-vencimiento">15</span>
				dias para su declaración de IVA Mensual.
			</div>
		</div>
	</div>
</div>
