
<div id="ModalPerfil1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="page-header">
        <hgroup>
        	<h1 class="modal-title" id="gridModalLabel" data-translate>SRI.MODAL.IMAGEN_PERFIL_TITLE</h1>
        </hgroup>
        <p data-translate>SRI.MODAL.IMAGEN_PERFIL_DESCRIPCION</p>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid bd-example-row">
					<div class="row">
					
						<div class="col-sm-12 col-md-12 col-xs-12 col-xs-offset-1">
						<ul class="list-inline">
        					<li data-ng-repeat="avatar in listaAvatar">
								<a class="thumbnail"> 
									<img data-ng-src="{{avatar.src}}" alt="imagen de perfil" data-ng-click="selectedImage(avatar, listaAvatar.indexOf(avatar))"
									data-ng-class="{'imgPerfilSelected' : (opcionesPerfil.imagenPerfil.id==avatar.id)}">
								</a>
								<div class="radio">
								 	<input type="radio" name="radAvatarPerfil" id="radAvatar{{ avatar.id }}" class="k-radio" role="radio"  aria-checked="false"
								 	data-ng-checked="(opcionesPerfil.imagenPerfil.id==avatar.id)" data-ng-click="selectedImage(avatar, listaAvatar.indexOf(avatar))">
              						<label class="k-radio-label" for="radAvatar{{ avatar.id }}"
              						data-ng-class="{'labelRadioSelected' : (opcionesPerfil.imagenPerfil.id==avatar.id)}" data-translate>SRI.MODAL.IMAGEN.SELECCIONADA</label>
              					</div>	
							</li>
    					</ul>
					</div>
					</div>
				</div>
      <div class="modal-footer">
       
      <div class="col-xs-12 text-center">
      <button id="btnCerrarVentanaModal" class="k-button k-primary" title="Cerrar Ventana" data-dismiss="modal" data-translate>SRI.BOTON.CERRAR_VENTANA</button>
       
        </div>
      </div>
    </div>
  </div>
</div>
</div>