<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">   
</head>
<h1 class="elemento-accesible">Configuracion cuenta de usuario </h1> 
<div collapse="mostrarPerfil" class="container-fluid" id="mostrar-ocultar">
	<div class="container">
		<div class="opciones-linea">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs nav-justified" role="tablist">
					<li role="presentation" class="active"><a href="" aria-controls="perfil" role="tab" data-toggle="tab"
						data-translate> SRI.CONF_CUENTA.TITULO.PERFIL </a></li>
					<li role="presentation"><a href="" aria-controls="favoritos" role="tab" data-toggle="tab" data-translate>
							SRI.CONF_CUENTA.TITULO.FAVORITOS </a></li>
					<div class="clearfix"></div>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				<!-- Tab panes -->
				<div class="tab-content row">
					<div role="tabpanel" class="tab-pane active col-md-12" id="perfil">
						<div class="row">
							<div class="col-md-6 col-sm-6 user">
								<div class="row">
									<div class="col-md-4 col-xs-4">
										<img src="recursos/imagenes/img-perfil.jpg" alt="perfil de usuario"
											class="img-responsive center-block img-circle" />
									</div>
									<div class="col-md-8 col-xs-8">
										<ul class="list-unstyled user-info">
											<li>Juan Eduardo Villamar León</li>
											<li class="middle">0700736183001</li>
											<li class="last">architech@gmail.com
												<button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
													aria-haspopup="true" aria-expanded="true">
													<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
												</button>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
													<li><a href="#">Editar imagen de perfil</a></li>
													<li><a href="#">Cambio de clave</a></li>
													<li><a href="#">Administración de usuarios</a></li>
													<li><a href="#">Estado Tributario</a></li>
													<li><a href="#">Declaraciones realizadas</a></li>

													<li role="separator" class="divider"></li>
													<li><a href="#"><b>RUC</b></a></li>
													<li><a href="#">Preinscripción</a></li>
													<li><a href="#">Actualización</a></li>
													<li><a href="#">Reimpresión</a></li>
													<li><a href="#">Suspensión</a></li>

												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 user">
								<h3>Accesos de internos</h3>
								<ul class="list-unstyled perfil-interes">
									<li><a href="#"> <span class="icon">&#xe810;</span> Certificados tributarios
									</a></li>
									<li><a href="#"> <span class="icon">&#xe80e;</span> Notificaciones electrónicas
									</a></li>
									<li><a href="#"> <span class="icon">&#xe801;</span> Datos fiscales para IR
									</a></li>
									<li><a href="#"> <span class="icon">&#xe811;</span> Seguimiento de trámites
									</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane col-md-8 col-md-offset-2" id="favoritos">
						<div class="panel-group acordeon acordeon-favoritos" id="accordion3" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading21">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion3" href="#collapse21" aria-expanded="true"
											aria-controls="collapse21" class="collapsed"> <span class="icon">&#xe801;</span> Comprobantes
											electrónicos <span class="caret"></span>
										</a>
									</h4>
								</div>
								<div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading21">
									<div class="panel-body">
										<form action="">
											<div class="checkbox">
												<label><input type="checkbox" value="">Comprobantes electrónicos recibidos</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Pruebas</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Producción</label>
											</div>
										</form>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading22">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion3" href="#collapse22" aria-expanded="true"
											aria-controls="collapse22" class="collapsed"> <span class="icon">&#xe806;</span> Matriculación vehicular
											<span class="caret"></span>
										</a>
									</h4>
								</div>
								<div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading22">
									<div class="panel-body">
										<form action="">
											<div class="checkbox">
												<label><input type="checkbox" value="">Consulta de vehículos</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Exoneraciones</label>
											</div>
										</form>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading23">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion3" href="#collapse23" aria-expanded="true"
											aria-controls="collapse23" class="collapsed"> <span class="icon">&#xe804;</span> Declaración de
											impuestos <span class="caret"></span>
										</a>
									</h4>
								</div>
								<div id="collapse23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading23">
									<div class="panel-body">
										<form action="">
											<div class="checkbox">
												<label><input type="checkbox" value="">101 - Impuesto a la Renta sociedades</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">102 - Impuesto a la Renta personas naturales</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">103 - Retenciones en la fuente</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">104 - IVA semestral</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">105 - Impuesto a los consumos especiales</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">106 - Múltiples pagos</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">108 - Renta sobre herencias, legados y donaciones</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">109 - Impuesto a la salida de divisas</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">110 - Impuesto a los activos en el exterior</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">111 - Impuesto a las tierras rurales</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">113 - RegalÃ­as a la actividad minera</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">114 - Botellas plásticas no retornables</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">115 - Anticipo de Impuesto a la Renta</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">116 - Anticipo de Impuesto a la Renta espectáculos
													pÃºblicos</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">117 - Patentes de conservación minera</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Salida de divisas</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Formulario ISD ordenante</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">ISD Agentes de retención</label>
											</div>
										</form>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading24">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion3" href="#collapse24" aria-expanded="true"
											aria-controls="collapse24" class="collapsed"> <span class="icon">&#xe80c;</span> Anexos <span
											class="caret"></span>
										</a>
									</h4>
								</div>
								<div id="collapse24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading24">
									<div class="panel-body">
										<form action="">
											<div class="checkbox">
												<label><input type="checkbox" value="">Anexo Transaccional Simplificado - ATS</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Retenciones en la fuente de Impuesto a la Renta por
													otros conceptos - REOC</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Retenciones en la fuente bajo relación de
													dependencia - RDEP</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Reporte de operaciones y transacciones económicas
													financieras - ROTEF</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Notarios y registradores</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Accionistas, partÃ­cipes y socios - APS</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Declaración patrimonial</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Gastos personales</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Operaciones con partes relacionadas del exterior -
													OPRE</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Anexo de incentivos y beneficios tributarios - ABT</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Anexo de cÃ¡lculo actuarial - ACA</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Movimiento internacional de divisas</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Anexo redimible a las botellas plÃ¡sticas - IBP</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Precio de venta al pÃºblico - PVP</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Anexo fideicomisos fondos de inversiÃ³n y
													complementarios - AFI</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Impuesto a los consumos especiales - ICE</label>
											</div>
										</form>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading25">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion3" href="#collapse25" aria-expanded="true"
											aria-controls="collapse25" class="collapsed"> <span class="icon">&#xe805;</span> Devoluciones <span
											class="caret"></span>
										</a>
									</h4>
								</div>
								<div id="collapse25" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading25">
									<div class="panel-body">
										<form action="">
											<div class="checkbox">
												<label><input type="checkbox" value="">IVA - Sector público</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Tercera edad</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Prevalidación</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Impuesto a la Renta</label>
											</div>
										</form>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading26">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion3" href="#collapse26" aria-expanded="true"
											aria-controls="collapse26" class="collapsed"> <span class="icon">&#xe80b;</span> Sistema de venta de
											alcohol <span class="caret"></span>
										</a>
									</h4>
								</div>
								<div id="collapse26" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading26">
									<div class="panel-body">
										<form action="">
											<div class="checkbox">
												<label><input type="checkbox" value="">Productores e importadores</label>
											</div>

										</form>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading27">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion3" href="#collapse27" aria-expanded="true"
											aria-controls="collapse27" class="collapsed"> <span class="icon">&#xe807;</span> Notas de crédito <span
											class="caret"></span>
										</a>
									</h4>
								</div>
								<div id="collapse27" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading27">
									<div class="panel-body">
										<form action="">
											<div class="checkbox">
												<label><input type="checkbox" value="">Endoso</label>
											</div>
											<div class="checkbox">
												<label><input type="checkbox" value="">Desmaterializadas</label>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<!-- notificaciones de vencimiento-->
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
		<!-- Tab panes -->
		<div class="container">
			<div class="alert-vencimiento alert-vencimiento-danger">
				Recuerde que quedan <span class="dias-vencimiento">25</span> dias para su declaración de IVA Mensual.
			</div>

			<div class="alert-vencimiento alert-vencimiento-success">
				Recuerde que quedan <span class="dias-vencimiento">5</span> dias para su declaración de IVA Mensual.
			</div>

			<div class="alert-vencimiento alert-vencimiento-info">
				Recuerde que quedan <span class="dias-vencimiento">15</span> dias para su declaración de IVA Mensual.
			</div>
		</div>
	</div>
</div>
