<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">    
	<meta http-equiv="Cache-control" content="no-cache, no-store">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="Mon, 22 Jul 2002 11:12:01 GMT">      
</head>
<div data-ng-app="declaraciones.declaracionIvaMensual" data-ng-controller="ConsultaDeclaracionIvaMensualControlador" class="row">
	<br/>
	<hgroup class="col-md-12 col-xs-12">
		<h1 translate>DECLARACION_IMPUESTOS.IVA_MENSUAL.CONSULTA</h1>
		<p translate>DECLARACION_IMPUESTOS.PARAMETROS_CONSULTA_DECLARACION</p>
	</hgroup>            
	<div class="col-md-12 col-xs-12">
		<form id="frmConsultaDeclaracionIvaMensual" kendo-validator="validator" class="form-horizontal" role="form" autocomplete="off">
			<uib-alert id="idAlertasConsultaDeclaracionIvaMensual" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.cerrar()" ><span translate>{{alert.msg}}</span> </uib-alert>
			<div class="form-group">
				<label for="cmbMeses" class="col-md-2 col-xs-4 control-label" translate>DECLARACION_IMPUESTOS.MES</label>
				<div class="col-md-4 col-xs-10">
					<input  id="cmbMeses" k-placeholder="'Seleccione...'" kendo-combo-box
							k-data-source="catalogo.MES" k-options="selectOptions"								
							ng-model="declaracion.catalogoMes.id" />        																	        				
				</div>	        
			</div> 
			<div class="form-group">     
				<label class="col-md-2 col-xs-4 control-label" translate>DECLARACION_IMPUESTOS.ANIO</label>
				<div class="col-md-4 col-xs-10">
					<input  id="cmbAnio" k-placeholder="'Seleccione...'" kendo-combo-box
							k-options="selectOptions" k-data-source="catalogo.ANIO"
							ng-model="declaracion.catalogoAnio.id" />
							
				</div>
			</div>  	
			<div class="form-group">           
				<label class="col-md-2 col-xs-6 control-label" translate>DECLARACION_IMPUESTOS.FORMA_PAGO</label>
				<div class="col-md-4 col-xs-10">
					<input  id="cmbFormaPago" k-placeholder="'Seleccione...'" kendo-combo-box
							k-options="selectOptions" k-data-source="catalogo.FORMA_PAGO"								 
							ng-model="declaracion.catalogoFormaPago.id" />												
				</div>
			</div>
			<br/>
			<div class="form-group">	
	               <div class="col-md-8 col-xs-8 text-center">
	               	<button type="button" class="btn btn-primary" ng-click="buscarDeclaracionIvaMensual('tblDeclaracionesIvaMensual')" translate>DECLARACION_IMPUESTOS.BUSCAR</button>
	               </div>									 
			</div>
		</form>	
	</div>	
	<div class="col-md-12 col-xs-12">
		<div class="table-responsive">
			<table id="tblDeclaracionesIvaMensual" class="table table-bordered table-striped table-hover" ></table>
		</div>					
	</div>			 			     													                                                               
</div>
