 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">    
    <meta http-equiv="Cache-control" content="no-cache, no-store">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Mon, 22 Jul 2002 11:12:01 GMT">      
  </head>
<div data-ng-app="declaraciones.declaracionIvaMensual" class="row" data-ng-controller="DeclaracionIvaMensualControlador">
	<br/>
	<!-- 
	kendo-validator="validator" ng-submit="validate($event)"
	 -->
	<hgroup class="col-md-12 col-xs-12">
		<h1 translate>DECLARACION_IMPUESTOS.TITULO</h1>
		<h2 translate>DECLARACION_IMPUESTOS.IVA_MENSUAL.TIPO_DECLARACION_IMPUESTOS</h2>
		<p translate>DECLARACION_IMPUESTOS.PARAMETROS_DECLARACION</p>
	</hgroup>	 
	<div class="col-md-12 col-xs-12">
		<form id="frmDeclaracionIvaMensual" class="form-horizontal" role="form" enctype="multipart/form-data" autocomplete="off" method="post" novalidate>
			<uib-alert id="idAlertasDeclaracionIvaMensual" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.cerrar()" ><span translate translate-value-variable={{valorVariableMensaje}}>{{alert.msg}}</span> </uib-alert>
			<!-- div id="errorDeclaracionIvaMensual" class="alert alert-danger hidden"></div -->			
			<div class="form-group">
				<label for="cmbMeses" class="col-md-2 col-xs-4 control-label" translate>* {{'DECLARACION_IMPUESTOS.MES'}}</label>
				<div class="col-md-4 col-xs-10">
						<input  id="cmbMeses" name="cmbMeses" class="form-control required" k-placeholder="'Seleccione...'" kendo-combo-box
								k-data-source="catalogo.MES" k-options="selectOptions"								
								ng-model="anexo.mes" required="required" />        									
				</div>	        
			</div> 
			<div class="form-group">     
				<label for="cmbAnio" class=" col-md-2 col-xs-4 control-label" translate>* {{'DECLARACION_IMPUESTOS.ANIO'}}</label>
				<div class="col-md-4 col-xs-10 ">
					<input  id="cmbAnio" name="cmbAnio" class="form-control required" k-placeholder="'Seleccione...'" kendo-combo-box
							k-options="selectOptions" k-data-source="catalogo.ANIO"
							ng-model="anexo.anio" required="required" />
				</div>
			</div>  	
			<div class="form-group">
				<label for="fileUploadId" class="col-md-2 col-xs-6 control-label" translate>* {{'DECLARACION_IMPUESTOS.ARCHIVO_SUBIR'}}</label>
				<div class="col-md-4 col-xs-10">
					<input id="fileUploadId" type="file" name="fileUploadId" class="form-control required file-loading" />    
				</div>									
			</div>			 
			<div class="form-group">           
				<label for="cmbFormaPago" class="col-md-2 col-xs-6 control-label" translate>* {{'DECLARACION_IMPUESTOS.FORMA_PAGO'}}</label>
				<div class="col-md-4 col-xs-10">
					<input  id="cmbFormaPago" name="cmbFormaPago" class="form-control required" k-placeholder="'Seleccione...'" kendo-combo-box
							k-options="selectOptions" k-data-source="catalogo.FORMA_PAGO"								 
							ng-model="anexo.formaPago" required="required" />
				</div>
			</div>
			<br/>
			<div class="form-group">	
				<div class="col-md-8 col-xs-8 text-center button-wrapper">
					<button id="uploadFileButtonId" type="button" class="btn btn-primary" ng-click="subirDeclaracionIvaMensual()" translate>DECLARACION_IMPUESTOS.SUBIR_DECLARACION</button>  		                	            
				</div>									 
			</div>
	 	</form>				 	
	</div>
</div>