/* ESTILOS DE LA PANTALLA DE LOGIN */

#cabecera-login,#pie-login,#contenido-login { position:absolute; right:0;left:0; background:#CCC}
#cabecera-login{
     height:100px; top:0;
     background:#0D3A80;
  }
#pie-login{
    height:100px; bottom:0;
    background:#0D3A80;
      color:white;
      text-align: center;
      font-size: 0.7em;
    }
#contenido-login{
    top:100px;
    bottom:100px;
      background:#0040A3;
  }

.logo-signin{
/*border:1px solid #fff;*/
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}
.singin-form {
    color:white;
    padding:20px;
    border-radius:0px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 400px;
}
.no-round{
    border-radius: 0 !important;
}
.align-center {
    text-align:center;
}
.botonLogin{
    border-radius: 0 !important;
    color:#0D3A80;
    font-weight: 900;
}
/*********************************************/

.activo{
margin-left: 5px;
background: green; important!
}
