<section class="container">

<section class="page-header">
         
          <ol class="breadcrumb pull-right">
            <li><a href="#/sri-web/home"><i class="fa fa-dashboard"></i> Favoritos</a></li>
            <li class="active">Comprobantes Electr&#243;nicos</li>
          </ol>
           <h1>
            Favoritos
            <small></small>
          </h1>
        </section>
    <br/><br/>     
    
 <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-celeste">
                <div class="inner">
                  <h3></h3>
                  <p>Comprobantes Electr&#243;nicos</p>
                </div>
                <div class="icon">
                  <i class="glyphicon glyphicon-envelope"></i>
                </div>
                <a  href="#/sri-web/comprobantes" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3></h3>
                  <p>Matriculaci&#243;n Vehicular</p>
                </div>
                <div class="icon">
                  <i class="glyphicon glyphicon-user"></i>
                </div>
                <a href="#/sri-web/module1" class="small-box-footer">Ir<i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3></h3>
                  <p>Notas de Credito</p>
                </div>
                <div class="icon">
                  <i class="glyphicon glyphicon-book"></i>
                </div>
                <a href="#" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
              
              
              
                  <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3></h3>
                  <p>Devoluciones</p>
                </div>
                <div class="icon">
                  <i class="glyphicon glyphicon-export"></i>
                </div>
                <a href="#" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3></h3>
                  <p>Declaraci&#243;n de Impuestos</p>
                </div>
                <div class="icon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </div>
                <a href="#" class="small-box-footer">Ir<i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-blue">
                <div class="inner">
                  <h3></h3>
                  <p>Anexos</p>
                </div>
                <div class="icon">
                  <i class="glyphicon glyphicon-list-alt"></i>
                </div>
                <a href="#" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
              
                <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-fucsia">
                <div class="inner">
                  <h3></h3>
                  <p>Sistema de Alcohol</p>
                </div>
                <div class="icon">
                  <i class="glyphicon glyphicon-retweet"></i>
                </div>
                <a href="#" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
        
          </div><!-- /.row -->          
            
                 
        </section><!-- /.content -->
    

</section>

<style>
.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.row {
    margin-top: 40px;
    padding: 0 10px;
}
.clickable {
    cursor: pointer;
}    
</style>

<script type="text/javascript">
    jQuery(function ($) {
       $("[title]").tooltip();
        $('.panel-heading span.clickable').on("click", function (e) {
            if ($(this).hasClass('panel-collapsed')) {
                // expand the panel
                $(this).parents('.panel').find('.panel-body').slideDown();
                $(this).removeClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
            else {
                // collapse the panel
                $(this).parents('.panel').find('.panel-body').slideUp();
                $(this).addClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            }
        });
    });
</script>

<!-- Collapsible Panels - END -->

</div>