        
        <div class="navbar-default sidebar" role="navigation">

            <div class="sidebar-nav navbar-collapse">
                     <ul class="nav iteMenu" id="side-menu" data-menu="menuitems" ng-if="refrescate">

                     </ul>
            </div>                
        </div>


<!--  <div id="sidebar-wrapper">
        <ul class="nav iteMenu" id="side-menu" data-menu="menuitems" ng-if="refrescate">
 </div> -->
