                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control no-round" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default no-round" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        
<li ng-class={{item.ngclass}} ng-repeat="item in items">
    <!-- opciones sin subitems-->
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1"  ui-sref={{item.url}} ng-show="!item.subItems"
        tabindex="0">
        <i class={{item.icono}} ></i> {{item.nombre}}
    </a>
    <!-- opciones con subitems-->
    <a ui-sref={{item.url}} ng-click="check(item.id)" ng-show="item.subItems.length"
       tabindex="0"
       role="button" aria-expanded="false"> <i class={{item.icono}}></i> {{item.nombre}} <span class="fa fa-angle-right pull-right"></span>
    </a>

    
    <ul class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" uib-collapse="collapseVar!=item.id"
    data-ng-show="item.subItems.length">  

        <li ui-sref-active="active" ng-repeat="subItem in item.subItems" >
            <a ui-sref={{subItem.url}} tabindex="0">
                <i class={{subItem.icono}} ></i> 
                {{subItem.nombre}}
            </a>
        </li>
    </ul>   
         
</li>
