   <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top cabecera-principal" role="navigation" style="margin-bottom: 0">

            <div id="cabecera-principal"  ng-include="'app/paginas/parciales/top-navbar.html'"></div>

            <div id="sidebar-principal"  ng-include="'app/paginas/parciales/barra-lateral.html'" ></div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="contenido-principal"  ng-include="'app/paginas/parciales/contenido.html'"></div>
       <!-- <div id="contenido-principal"  ></div>-->
     </div>