            
            <!-- /.navbar-header -->
            <div class="navbar-header ">
   <!--           
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
   -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            <a class="navbar-brand toogleButon" href="#" id="menu-toggle" ng-click="toggleFun()">
              <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            </a>
               <a class="navbar-brand" rel="home" href="#" title="SRI">
                  <!--<img src="recursos/imagenes/logo.svg" alt="Logo SRI" class="logoForm">-->                
                  <img style="max-width:100px; margin-top: -7px;" src="desa/recursos/imagenes/logo.svg">
               </a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li id="itemPerfil"  tabindex="3" >
                    <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                </li>           
                <li id="itemPerfil"  tabindex="4">
                    <a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
                </li>    
                <li id="itemPerfil"  tabindex="5">
                    <a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true" data-ng-click="muestraItems('1')"></span></a>
                </li> 
   <li id="itemIdioma" class="dropdown" tabindex="5">
        <a data-toggle="dropdown"  role="button">
           <i class="glyphicon glyphicon-flag"></i>  {{lenguajeActual | uppercase}}
        </a>
        <ul class="dropdown-menu">
            <li>
                <a data-ng-click="cambiaLenguaje('es')"  role="button">
                    <strong class="color-texto" data-translate>SRI.OPCION.LENGUA_ESPANIOL</strong>
                </a>
            </li>
            <li>
                <a data-ng-click="cambiaLenguaje('en')"  role="button">
                    <strong class="color-texto" data-translate>SRI.OPCION.LENGUA_INGLES</strong>
                </a>
            </li>
            <li>
                <a data-ng-click="cambiaLenguaje('qu')"  role="button">
                   <strong class="color-texto" data-translate>SRI.OPCION.LENGUA_QUICHUA</strong>
                </a>
            </li>
        </ul>
    </li>                  
            </ul>
            <!-- /.navbar-top-links -->            
