<div id="wrapper" class="toggled">
    <div class="container-fluid">
        <!-- Sidebar -->
            <!-- <div id="sidebar-principal"  ng-include="'app/paginas/parciales/barra-lateral.html'"></div>  -->
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
            <div id="contenido-principal"  ng-include="'desa/app/paginas/parciales/contenido.html'"></div> 
        <!-- /#page-content-wrapper -->
    </div>
</div>
<!-- /#wrapper -->