<div>
     <section class="content-header">
          <h1>
            Comprobantes Electr&#243;nicos
            <small></small>
          </h1>
          <ol class="breadcrumb pull-right">
            <li><a href="#/sri-web/favoritos"><i class="fa fa-dashboard"></i> Favoritos</a></li>
            <li class="active">Comprobantes Electr&#243;nicos</li>
          </ol>
        </section>
    <br/><br/>
<h2>Comprobantes Electr&#243;nicos</h2>
    <p>
        Permite gestionar la b&#250;squeda de comprobantes electr&#243;nicos mediante distintos filtros y opciones de b&#250;squeda ...
        <a href="#" class="tooltip">
    <img src="/tooltip/css-tooltip-image.gif" />
    <span>
        <img class="callout" src="cssttp/callout.gif" />
        <img src="/tooltip/src/tooltips-cd2.jpg" style="float:right;" />
        <strong>CSS only Tooltip</strong><br />
        Pure CSS popup tooltips with clean semantic XHTML.
    </span>
</a>
    </p>
    
  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel 1</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    Founded in 1892 and headquartered in Fairfield, CT, LexisNexis Corporate Affiliations 
                    is a technology and financial services company. 
                    The company offers products and services ranging from aircraft engines, power generation, 
                    water processing, and household appliances, among others. 
                    It operates in business segments including Energy Infrastructure, Aviation, Healthcare, 
                    Transportation, Home & Business Solutions, and GE Capital. 
                    The company also provides medical imaging, business and consumer financing, 
                    and industrial products. 
                    It has presence in North America, Europe, Asia, South America, and Africa. 
                    According to the company's current 10K government filing it had FYE 12/31/2011 revenue of 
                    $147.3 billion and has 301,000 employees.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel 2</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    LexisNexis Corporate Affiliations<br />
                    121 Chanlon Road,<br /> 
                    South Building – First Floor,<br />
                    New Providence, NJ 07974<br />
                    phone: 800.340.3244
                </div>
            </div>
        </div>


         <div >
                              <label  data-tooltip="EJMPLO eeee!!!" for="productos"><span class="badge bg-blue">?</span></label>
                              <div class="col-sm-8 col-md-6">
                              <input kendo-auto-complete ng-model="autocomPro" 
                              k-options="TestAutoComplete"/>
                              </div>
                          </div>  
                         <button type="button" class="btn btn-principal"  data-tooltip=" Este es un ejemplo de boton principal"
                         >Verificar Principal</button>
                          <button type="button" class="btn btn-secundario" data-tooltip="Verificar">Verificar S</span></button>
                           <button type="button" class="btn btn-apagado" data-tooltip="Tercer boton de prueba de tooltip">Verificar </span></button>
    </div>
</div>

 
<style>
.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.row {
    margin-top: 40px;
    padding: 0 10px;
}
.clickable {
    cursor: pointer;
}    
</style>

<script type="text/javascript">
    jQuery(function ($) {
        $('.panel-heading span.clickable').on("click", function (e) {
            if ($(this).hasClass('panel-collapsed')) {
                // expand the panel
                $(this).parents('.panel').find('.panel-body').slideDown();
                $(this).removeClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
            else {
                // collapse the panel
                $(this).parents('.panel').find('.panel-body').slideUp();
                $(this).addClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            }
        });
    });
</script>   
    
</div>