<div class="container" data-ng-controller="AlertaControlador">
	<div class="page-header">
		<hgroup>
			<h1>Solicitud de ingreso y env&#237;o de informaci&#243;n</h1>
			<h2>Datos generales</h2>
		</hgroup>
		<p>Por favor llene los siguientes datos, los campos con (*) son
			obligatorios</p>
	</div>
	<form id="frmFormulario" class="form-horizontal">

		<p>Caja de Texto</p>
		<div class="form-group">
			<div class="col-md-4 col-xs-8">
				<input type="text" id="txtText" class="k-textbox" data-translate
					data-translate-attr-placeholder="SRI.EJEMPLO.PLACEHOLDER.NOMBRES" />
				<i class="icon-informacion-importante icono-celeste col-xs-1" ></i>
			</div>
		</div>
		<p>Combo Box</p>
		<div class="form-group">
			<div class="col-md-4 col-xs-8">
				<input id="cmbPaisNacimiento" kendo-combo-box
					k-data-text-field="'paisNacimiento'"
					ng-model="ejemplo.paisNacimiento"
					k-data-value-field="'codigoPaisNac'"
					k-data-source="paisesNacimiento" data-translate
					data-translate-attr-placeholder="SRI.EJEMPLO.PLACEHOLDER.PAIS.NACIMIENTO" />
			</div>
		</div>
		<p>Área de Texto</p>
		<div class="form-group">
			<div class="col-md-4 col-xs-8">
				<textarea id="txtTextArea" class="k-textbox" rows="5"></textarea>
			</div>
		</div>
		<p>Etiqueta</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8">
				<label for="lblEtiqueta" data-translate>SRI.EJEMPLO.FECHA.NACIMIENTO</label>
			</div>
		</div>
		<p>Botón de Chequeo</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				<input type="checkbox" id="chkCheckBox" class="k-checkbox"
					checked="checked" ng-model="chexkmodel"> 
				<label class="k-checkbox-label" for="chkCheckBox">Checkbox # 1</label>
			</div>
		</div>
		<p>Botón de Radio</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">

				<input type="radio" name="engine" id="radRadio" class="k-radio"
					ng-model="radioValue"> 
				<label class="k-radio-label" for="radRadio">Opcion # 1</label> 
				<input type="radio" name="engine" id="radRadioDos" class="k-radio" ng-value="estructuraValor"> 
				<label class="k-radio-label" for="radRadioDos">Opcion # 2</label>
			</div>
		</div>
		<p>Botón</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				<button id="btnAceptar" class="k-button k-primary" translate>SRI.EJEMPLO.ACEPTAR</button>
				<button id="btnCancelar" class="k-button k-primary" translate
					disabled="disabled">SRI.EJEMPLO.CANCELAR</button>
			</div>
		</div>
		<p>DatePicker</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				<input type="text" id="dpkDataPicker" kendo-date-picker
					k-options="fechaOptions" name="fechaNacimiento"
					placeholder="dd / mm / aaaa" ng-model="fechaNacimiento" />
			</div>
		</div>
		<p>DateTimePicker</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				<input id="dtpDateTimePicker" kendo-date-time-picker ng-model="dateTimPickerNG" placeholder="dd / mm / aaaa  hh:mm:ss"
					k-format="'dd/MM/yyyy hh:mm tt'" />
			</div>
		</div>
		<p>DropDownList</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				<select kendo-drop-down-list="dropdownlist" id="ddlDropDownList"
					k-data-text-field="'ProductName'" k-data-value-field="'ProductID'"
					k-data-source="productsDataSource" k-filter="'contains'"
					k-index="0" ng-model="ddLModelo"></select>
			</div>
		</div>
		<p>DropDownList Cascada</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				<div class="form-group">
					<label for="dropdownlistPadre">Drop Down List Padre</label> <select
						kendo-drop-down-list="dropdownlistPadre" id="dropdownlistPadre"
						k-data-text-field="'parentName'" k-data-value-field="'parentId'"
						k-data-source="datasourceParent" k-filter="'contains'" k-index="0"
						ng-model="ddLModeloParent">
					</select>
				</div>
				<div class="form-group">
					<label for="dropdownlistHija">Drop Down List Hija</label> <select
						kendo-drop-down-list="dropdownlistHija" id="dropdownlistHija"
						k-data-text-field="'childName'" k-data-value-field="'childId'"
						k-data-source="datasourceChild" k-filter="'contains'" k-index="0"
						k-cascade-from="'dropdownlistPadre'" ng-model="ddLModeloChild">
					</select>
				</div>
			</div>
		</div>
		<p>Menu</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				<button id="btnSiguiente" class="k-button k-primary" translate>SRI.EJEMPLO.BUSCAR</button>
				<button id="btnAlerta" class="k-button k-primary"
					data-ng-click="generarAlerta();">Agregar Alerta</button>
			</div>
		</div>
		<p>File upload</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				<label for="fileUploadId" translate>SRI.EJEMPLO.ARCHIVO_SUBIR</label>
				<input type="file" id="fupFileUploadId" name="fupFileUploadId"
					class="form-control required file-loading" />
			</div>
		</div>
		<p>Table</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				<table id="tblDeclaracionesIvaMensual"
					class="table table-bordered table-striped table-hover"></table>
			</div>
		</div>
		<p>Form</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				<button id="btnSiguiente" class="k-button k-primary" translate>SRI.EJEMPLO.BUSCAR</button>
				<button id="btnAlerta" class="k-button k-primary"
					data-ng-click="generarAlerta();">Agregar Alerta</button>
			</div>
		</div>
		<p>ListView</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				<div class="demo-section k-content wide">
					<div id="listView"></div>
					<div id="pager" class="k-pager-wrap"></div>
				</div>
			</div>
		</div>
		<p>NumericTextBox</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-3 text-center">
				<ul>
                    <li>
                        <label for="ntxCurrency">Price:</label>
                        <input type="number" id="ntxCurrency" value="30" min="0" max="100" />
                    </li>
                    <li>
                        <label for="ntxPercentage">Price Discount:</label>
                        <input type="number" id="ntxPercentage" value="0.05"/>
                    </li>
                    <li>
                        <label for="ntxCustom">Weight:</label>
                        <input type="number" id="ntxCustom" value="2" />
                    </li>
                    <li>
                        <label for="ntxNumeric">Currently in stock:</label>
                        <input type="number" id="ntxNumeric" value="17" min="0" max="100" step="1" />
                    </li>
                </ul>
			</div>
		</div>
		<p>PanelBar</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				Aqui el componente
			</div>
		</div>
		<p>Slider</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				Aqui el componente
			</div>
		</div>
		<p>Splitter</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				Aqui el componente
			</div>
		</div>
		<p>TabStrip</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				Aqui el componente
			</div>
		</div>
		<p>ToolTip</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				Aqui el componente
			</div>
		</div>
		<p>Progress Bar</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				Aqui el componente
			</div>
		</div>
		<p>ColorPicker</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				Aqui el componente
			</div>
		</div>
		<p>Context Menu</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				Aqui el componente
			</div>
		</div>
		<p>Toolbar</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				Aqui el componente
			</div>
		</div>
		<p>MultiSelect</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				Aqui el componente
			</div>
		</div>
		<p>Notificaciones</p>
		<div class="form-group">
			<div class="col-md-8 col-xs-8 text-center">
				<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}"
					close="alert.cerrar()">{{alert.msg}}</uib-alert>
			</div>
		</div>

	</form>


</div>


