
<div>
  <section class="content-header">
<h1> Presentaci&#243;n de Iconos </h1>
 </section>
 <br>

<div class="row">
<h1> Iconos de informaci&#243;n </h1>
<br>
  <div class="col-md-2 col-sm-2"><h2>Informaci&#243;n datos importantes</h2></div>
  <div class="col-md-1 col-sm-1"><h2>Error</h2></div>
  <div class="col-md-2 col-sm-2"><h2>Documento Extensi&#243;n XML</h2></div>
  <div class="col-md-2 col-sm-2"><h2>Documento Acrobat Reader</h2></div>
  <div class="col-md-1 col-sm-1"><h2>Alerta</h2></div>
  <div class="col-md-1 col-sm-1"><h2>Aprobaci&#243;n Env&#237;os correctos</h2></div>
  <div class="col-md-1 col-sm-1"><h2>Documento Excel</h2></div>
</div>
<br>
<div class="row">
  <div class="col-md-2 col-sm-2"><i class="icon-informacion-importante icono-celeste" ></i></div>
  <div class="col-md-1 col-sm-1"><i class="icon-error icono-rojo icono-tamanio" ></i></div>
  <div class="col-md-2 col-sm-2"><i class="icon-documento-extension-xml icono-verde icono-tamanio" ></i></div>
  <div class="col-md-2 col-sm-2"><i class="icon-documento-acrobar-reader icono-rojo icono-tamanio" ></i></div>
  <div class="col-md-1 col-sm-1"><i class="icon-alerta iconoNaranja icono-tamanio" ></i></div>
  <div class="col-md-1 col-sm-1"><i class="icon-aprobacion-envios-correctos icono-verde icono-tamanio" ></i></div>
  <div class="col-md-1 col-sm-1"><i class=" icon-documentos-extension-xls icono-verde icono-tamanio" ></i></div>
</div>

<div class="row">
<br>  
    <div class="col-md-2 col-sm-2"><h2>Editar</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Eliminar</h2></div>
	<div class="col-md-2 col-sm-2"><h2>Nuevo</h2></div>
	<div class="col-md-2 col-sm-2"><h2>Cargando</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Preguntas frecuentes</h2></div>
</div>
<br>
<div class="row">
	<div class="col-md-2 col-sm-2"><i  class="icon-editar  icono-tamanio col-xs-9" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-eliminar  icono-tamanio col-xs-9" ></i></div>
	<div class="col-md-2 col-sm-2"><i  class="icon-nuevo icono-verde icono-tamanio col-xs-9" ></i></div>
	<div class="col-md-2 col-sm-2"><i  class="icon-cargando icono-tamanio " ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-preguntas-frecuentes icono-tamanio" ></i></div>
</div>


<div class="row">

<h1> Iconos General</h1> 
<br>
    <div class="col-md-2 col-sm-2"><h2>Perfil</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Cerrar Sesi&#243;n</h2></div>
	<div class="col-md-2 col-sm-2"><h2>Mensajes Enviados</h2></div>
	<div class="col-md-2 col-sm-2"><h2>Mensajes Correos</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Configuraci&#243;n</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Chat</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Accesibilidad</h2></div>
</div>
<br>
<div class="row">
    <div class="col-md-2 col-sm-2"><i  class="icon-perfil icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-cerrar-sesion icono-tamanio" ></i></div>
	<div class="col-md-2 col-sm-2"><i  class="icon-mensajes-enviados icono-tamanio" ></i></div>
	<div class="col-md-2 col-sm-2"><i  class="icon-mensajes-correos icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-configuracion icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-chat icono-tamanio " ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-accesibilidad icono-tamanio" ></i></div>

</div>

<br>
<div class="row">

	<div class="col-md-2 col-sm-2"><h2>Ubicaci&#243;n Marcador de mapa</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Calculadora</h2></div>
	<div class="col-md-2 col-sm-2"><h2>Localizaci&#243;n Orientaci&#243;n</h2></div>
	<div class="col-md-2 col-sm-2"><h2>Internacionalizaci&#243;n Idiomas</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Hora Tiempo de espera</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Tel&#233;fono</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Calendario</h2></div>
	
</div>

<br>
<div class="row">
    <div class="col-md-2 col-sm-2"><i  class="icon-ubicacion-marcador-mapa icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-calculadora icono-tamanio" ></i></div>
	<div class="col-md-2 col-sm-2"><i  class="icon-localizacion-orientacion icono-tamanio " ></i></div>
	<div class="col-md-2 col-sm-2"><i  class="icon-internacionalizacion-idiomas icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-hora-tiempo-espera icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-telefono icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-calendario icono-tamanio" ></i></div>

</div>

<br>
<div class="row">

	<div class="col-md-2 col-sm-2"><h2>Buscar</h2></div>
	<div class="col-md-1 col-sm-1"><h2>B&#250;squeda de documentos</h2></div>
	<div class="col-md-2 col-sm-2"><h2>Comprobantes electr&#243;nicos</h2></div>
	<div class="col-md-2 col-sm-2"><h2>T&#237;tulos relacionados con veh&#237;culos</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Declaraciones Pago de impuestos Impuesto a la Renta</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Anexos</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Devoluciones</h2></div>
	
</div>

<br>
<div class="row">
    <div class="col-md-2 col-sm-2"><i  class="icon-buscar icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-busqueda-documentos icono-tamanio" ></i></div>
	<div class="col-md-2 col-sm-2"><i  class="icon-comprobantes icono-tamanio " ></i></div>
	<div class="col-md-2 col-sm-2"><i  class="icon-matriculacion icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-declaraciones icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-anexos icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-devoluciones icono-tamanio" ></i></div>

</div>
<br>
<div class="row">

	<div class="col-md-2 col-sm-2"><h2>SIMAR</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Estad&#237;stica Datos Fiscales</h2></div>
	<div class="col-md-2 col-sm-2"><h2>Hamburguesa</h2></div>
	<div class="col-md-2 col-sm-2"><h2>Documentos Certificados Tributarios</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Seguimiento Tr&#225;mites</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Deudas</h2></div>
	<div class="col-md-1 col-sm-1"><h2>Documentos enviados Procesos Finalizados</h2></div>
	
</div>
<br>
<div class="row">
    <div class="col-md-2 col-sm-2"><i  class="icon-simar icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-estadisticas-datos-fiscales icono-tamanio" ></i></div>
	<div class="col-md-2 col-sm-2"><i  class="icon-hamburguesa icono-tamanio" ></i></div>
	<div class="col-md-2 col-sm-2"><i  class="icon-documentos-certificados-tributarios icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-seguimiento-tramites icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-deudas icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-documentos-enviados-procesos-finalizados icono-tamanio" ></i></div>

</div>
<br>
<div class="row">

	<div class="col-md-2 col-sm-2"><h2>Home Agencias</h2></div>
	<div class="col-md-1 col-sm-1"><h2>RUC</h2></div>
	<div class="col-md-2 col-sm-2"><h2>Notas de Cr&#233;dito</h2></div>
	<div class="col-md-2 col-sm-2"><h2>Perfil, opciones</h2></div>
	
	
</div>
<br>
<div class="row">
    <div class="col-md-2 col-sm-2"><i  class="icon-home-agencias icono-tamanio" ></i></div>
	<div class="col-md-1 col-sm-1"><i  class="icon-ruc icono-tamanio" ></i></div>
	<div class="col-md-2 col-sm-2"><i  class="icon-notas-credito icono-tamanio " ></i></div>
	<div class="col-md-2 col-sm-2"><i  class="icon-perfil-hamburguesa icono-tamanio " ></i></div>

</div>

</div>