<div class="row">              
    <div class="col-lg-12">
        <h1 class="page-header">COMPROBANTES ELECTRONICOS - PRUEBAS</h1>
    </div>         <!-- /.col-lg-12 -->



<a data-tooltip="Tooltip para uso de ayuda contextual." >Hipervinculo </a>
  <p><button data-tooltip="Ayuda contextual referente a Comprobantes E..">Ayuda</button></p>
</div>
</div>