<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  
 
    <h:head>  
 
    </h:head>  
 
    <h:body>  
 
          <p:outputLabel value="Hello Prime Faces" />
 
        <p:spinner />  
 
    </h:body>  
</html>