
/*!
 * Nombre: login.css
 * Descripcion: Hoja de estilos para la pantalla de logueo
 * Dependencias: sri-temas
 * Autor: Planificacion TI
 * Copyright SRI-2016.
 */
#cabecera-login,#pie-login,#contenido-login { 
    right:0;left:0;
     background:#CCC;
     }
#cabecera-login{
     height:100px; top:0;
     background:#0D3A80;
  }
#pie-login{
    height:100px; 
    bottom:0;
    background:#0D3A80;
      color:white;
      text-align: center;
      font-size: 0.8em;
      margin-bottom: 0;
    }
#contenido-login{
    top:100px;
    background:#0C4597;  
    min-height: 360px;
  }

.logo-signin{
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
      background:#0C4597;
}
.singin-form {
    color:white;
    padding:20px;
    border-radius:0px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
}

 .enlace-login{
    color: #fff;
    text-decoration: none;
    padding: 2px;
}
.enlace-login:hover{
    color: #337ab7;
    background:#CCD1D9;
      text-decoration: none;
      padding: 2px;
}

.boton-login{
    border-radius: 0 !important;
    color:#0D3A80;
    font-weight: 900;
    font-family: 'Roboto',Helvica;
}
.lbl-login{
    color:#fff;
}
.iconos-login{
	font-size: 18px;
}
.recuperar{
	margin:10px 0 10px 0;
	  text-align: center;
	}
.singin-form .navbar-top-links li a:hover, .singin-form .navbar-top-links li a:active {
	color:#3BAFDA;
	}
	
	