/*!
 * Nombre: sri.css
 * Descripción: Hoja de estilos propios del sri.
 * Dependencias: N/A
 * Autor: Planificación TI
 * Copyright SRI-2015, 2016.
 */

/* ------------------------------------------------------------------*/
/* ---------->>>Colores institucionales para fondos <<<-------*/
/* --------------------------------------------------------------------*/
.c-rojo-intenso {
	background-color: #E2231A;
}

.c-azul-intenso {
	background-color: #0C4597;
}

.c-azul-fondo {
	background-color: #0D3A80;
}

.c-azul-principal {
	background-color: #0040A3;
}

.c-celeste-principal {
	background-color: #00B1D7;
}

.c-verde {
	background-color: #A1C96A;
}

.c-verde-solido {
	background-color: #8DC052;
}

.c-verde-claro {
	color: #96C568;
}

.c-rojo {
	background-color: #A1C96A;
}

.c-rojo-solido {
	background-color: #DA4453;
}

.c-aqua {
	background-color: #5FBCA5;
}

.c-aqua-solido {
	background-color: #42B598;
}

.c-celeste {
	background-color: #4FC1EA;
}

.c-celeste-solido {
	background-color: #3BAFDA;
}

.c-amarillo {
	background-color: #FECE56;
}

.c-amarillo-solido {
	background-color: #F6BB41;
}

.c-azul {
	background-color: #6598D1;
}

.c-azul-solido {
	background-color: #5185C5;
}

.c-azul-transparente {
	background-color: #DAEDF6;
}

.c-naranja {
	background-color: #ED6D55;
}

.c-naranja-solido {
	background-color: #E95740;
}

.c-fucsia {
	background-color: #E488B7;
}

.c-fucsia-solido {
	background-color: #D570A9;
}

.c-purpura {
	background-color: #A390C4;
}

.c-purpura-solido {
	background-color: #8A78B6;
}

.c-purpura {
	background-color: #A390C4;
}

.c-purpura-solido {
	background-color: #8A78B6;
}

.c-negro {
	background-color: #656D78;
}

.c-negro-solido {
	background-color: #434A54;
}

.c-gris {
	background-color: #CCD1D9;
}

.c-gris-solido {
	background-color: #AAB2BD;
}

.c-blanco {
	background-color: #F5F7FA;
}

.c-blanco-solido {
	background-color: #E6E9ED;
}
/* ------------------------------------------------------------------*/
/* ---------->>>Colores institucionales para texto <<<-------*/
/* --------------------------------------------------------------------*/
.t-rojo-intenso {
	color: #E2231A;
}

.t-azul-intenso {
	color: #0C4597;
}

.t-azul-fondo {
	color: #0D3A80;
}

.t-azul-principal {
	color: #0040A3;
}

.t-celeste-principal {
	color: #00B1D7;
}

.t-verde {
	color: #A1C96A;
}

.t-verde-solido {
	color: #8DC052;
}

.t-verde-claro {
	color: #96C568;
}

.t-rojo {
	color: #A1C96A;
}

.t-rojo-solido {
	color: #DA4453;
}

.t-aqua {
	color: #5FBCA5;
}

.t-aqua-solido {
	color: #42B598;
}

.t-celeste {
	color: #4FC1EA;
}

.t-celeste-solido {
	color: #3BAFDA;
}

.t-amarillo {
	color: #FECE56;
}

.t-amarillo-solido {
	color: #F6BB41;
}

.t-azul {
	color: #6598D1;
}

.t-azul-solido {
	color: #5185C5;
}

.t-azul-transparente {
	color: #DAEDF6;
}

.t-naranja {
	color: #ED6D55;
}

.t-naranja-solido {
	color: #E95740;
}

.t-fucsia {
	color: #E488B7;
}

.t-fucsia-solido {
	color: #D570A9;
}

.t-purpura {
	color: #A390C4;
}

.t-purpura-solido {
	color: #8A78B6;
}

.t-purpura {
	color: #A390C4;
}

.t-purpura-solido {
	color: #8A78B6;
}

.t-negro {
	color: #656D78;
}

.t-negro-solido {
	color: #434A54;
}

.t-gris {
	color: #CCD1D9;
}

.t-gris-solido {
	color: #AAB2BD;
}

.t-blanco {
	color: #F5F7FA;
}

.t-blanco-solido {
	color: #E6E9ED;
}
/* ------------------------------------------------------------------------*/
/* ---------->>> Colores estandar para notificaciones <<<-------*/
/* -----------------------------------------------------------------------*/
.notificacion-urgente {
	background-color: #ED6D55;
	font-size: 10px;
	font-family: 'Roboto Regular';
	color: #fff;
}

.notificacion-importante {
	background-color: #96C568;
	font-size: 10px;
	font-family: 'Roboto Regular';
	color: #fff;
}

.notificacion-informativa {
	background-color: #00B1D7;
	font-size: 10px;
	font-family: 'Roboto Regular';
	color: #fff;
}

.notificacion-periodo {
	font-size: 18px;
	font-weight: bold;
}
/* ------------------------------------------------------------------------------------*/
/* ------>>> Burbujas en forma de circulos de colores para notificaciones<<<----------*/
/* -----------------------------------------------------------------------------------*/
.main-header .badge {
	position: absolute;
	top: 12px;
	left: 21px;
	font-size: 0.7em;
	color: #F5F7FA;
	width: 10px;
	height: 10px;
	text-align: center;
	line-height: 5px;
	/*line-height: 12px;*/
	border-radius: 50%;
	background: #EA5565;
	border: 1px solid #DA4453;
	z-index: 3;
}

.notificacion-burbuja {
	position: absolute;
	top: 12px;
	left: 21px;
	font-size: 0.7em;
	color: #F5F7FA;
	width: 12px;
	height: 12px;
	text-align: center;
	line-height: 12px;
	border-radius: 50%;
	background: #EA5565;
	border: 1px solid #DA4453;
	z-index: 3;
	background-image: -webkit-linear-gradient(top, #EA5565, #DA4453);
	background-image: -moz-linear-gradient(top, #EA5565, #DA4453);
	background-image: -o-linear-gradient(top, #EA5565, #DA4453);
	background-image: linear-gradient(bottom, #EA5565, #DA4453);
	-webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px
		rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px
		rgba(0, 0, 0, 0.12);
}
/* ------------------------------------------------------------------------*/
/* ---------->>> Secciones de formato<<<-------*/
/* -----------------------------------------------------------------------*/
.alineacion-derecha {
	text-align: right;
}

.alineacion-izquierda {
	text-align: left;
}

.alineacion-vertical {
	vertical-align: middle;
	display: inline;
}

.alineacion-centro {
	text-align: center;
}

.letra-xs {
	font-size: 8pt;
}

.negrita {
	font-weight: bold;
}

.color-texto {
	color: #434A54;
}

.texto-negrita {
	font-weight: bold;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.lista-sin-vinieta {
	list-style: none;
	display: inline;
}
/* -------------------------------------------------------*/
/* ---------->>> Pantalla principal <<<-------*/
/* ------------------------------------------------------*/
.logo {
	max-width: 100px;
	margin-top: -7px;
}

.cabecera-principal {
	background: #0C4597;
	border-radius: 0;
	color: white;
	padding-top: 0px;
	border-style: none;
	width: 100%;
}

.iteMenu>li>a {
	color: #434A54;
}

.wrapper {
	min-height: 100%;
}

.wrapper:before, .wrapper:after {
	content: " ";
	display: table;
}

.wrapper:after {
	clear: both;
}

.content-wrapper, .main-footer {
	-webkit-transition: -webkit-transform 0.5s
		cubic-bezier(0.32, 1.25, 0.375, 1.15); 5
	-moz-transition: -moz-transform 0.5s
		cubic-bezier(0.32, 1.25, 0.375, 1.15);
	-o-transition: -o-transform 0.5s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	transition: transform 0.5s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	-webkit-transition: margin-left 0.5s
		cubic-bezier(0.32, 1.25, 0.375, 1.15);
	-o-transition: margin-left 0.5s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	transition: margin-left 0.5s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	z-index: 820;
}

.main-footer {
	-moz-background-origin: padding;
	-webkit-background-origin: padding;
	background-origin: padding-box;
	background: url(../imagenes/fondos/fondo-pie.jpg) repeat-x bottom left;
	padding-top: 10%;
	font-size: 10px;
}

/*
 * Component: Main Header
 * ----------------------
 */
.main-header {
	position: relative;
	z-index: 1030;
}

.main-header>.navbar {
	margin-bottom: 0;
	margin-left: 250px;
	border: none;
	min-height: 50px;
	border-radius: 0;
}

.main-header>.navbar {
	margin-left: 0 !important;
}

.main-header .sidebar-toggle {
	float: left;
	padding: 15px 15px;
	font-family: fontAwesome;
}

.main-header .sidebar-toggle:before {
	content: "\f0c9";
}

.main-header .sidebar-toggle:hover {
	color: #fff;
}

.main-header .sidebar-toggle .icon-bar {
	display: none;
}
/**********menu de botoneria de la cabecera***************/
.navbar-top-links {
	margin-right: 0;
}

@media ( max-width : 767px) {
	.navbar-top-links {
		display: inline-block;
	}
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links li:last-child {
	margin-right: 15px;
}

.navbar-top-links>ul>li>a {
	padding: 15px;
	min-height: 50px;
	color: white;
}

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
	color: white;
}

.navbar-top-links li a:hover {
	background-color: #E6E9ED;
	color: #6598D1;
}

.navbar-top-links .dropdown-menu li {
	display: block;
	color: #fff;
}

.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks,
	.navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}

.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}

.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
}
/*--------------------------------------------------------------*/
/*
 * Sidebar : Menu Lateral
 */
/*--------------------------------------------------------------*/
.main-sidebar {
	top: -4px;
	left: 2px;
	padding-top: 50px;
	min-height: 100%;
	width: 250px;
	z-index: 810;
	/*efecto al cambiar tamaño pantalla*/
	-webkit-transition: -webkit-transform 0.5s
		cubic-bezier(0.32, 1.25, 0.375, 1.15);
	-moz-transition: -moz-transform 0.5s
		cubic-bezier(0.32, 1.25, 0.375, 1.15);
	-o-transition: -o-transform 0.5s cubic-bezier(0.32, 1.25, 0.375, 1.15);
	transition: transform 0.5s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}

@media ( max-width : 767px) {
	.main-footer {
		background: url();
		margin-left: 0;
	}
	.main-sidebar {
		position: relative;
		margin-top: -60px;
		margin-left: 2px;
		min-height: auto;
		z-index: 3500;
		width: 100%;
	}
	.content-wrapper {
		position: relative;
		margin-top: 15%;
		z-index: 3;
	}
}

.sidebar {
	padding-bottom: 10px;
	height: auto;
	top: 1px;
}

@media ( min-width : 768px) {
	.sidebar-collapse {
		margin-left: 5px;
	}
	.sidebar-open {
		-webkit-transform: translate(250px, 0);
		-ms-transform: translate(250px, 0);
		-o-transform: translate(250px, 0);
		transform: translate(250px, 0);
	}
	.contenedor-controles-open {
		max-width: 98%;
	}
	.contenedor-controles-collapsed {
		max-width: 78%;
	}
}

@media ( max-width : 767px) {
	.sidebar-collapse {
		margin-top: 35px;
	}
	.contenedor-controles-open, .contenedor-controles-collapsed {
		max-width: 98%;
	}
	.main-header {
		margin-bottom: 0;
	}
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.sidebar .sidebar-search {
	padding: 0px;
}

.sidebar .boton-search {
	background-color: #CCD1D9;
	color: #fff;
	background-image: none;
	font-size: 12pt;
	height: 32px;
	padding: 8px;
	vertical-align: middle;
	border-color: #CCD1D9;
}

.sidebar .input-search {
	background-color: #CCD1D9;
	color: #fff;
	background-image: none;
	font-size: 12pt;
	height: 32px;
}

.sidebar .input-search::-moz-placeholder {
	color: #fff;
	opacity: 1;
}

.sidebar .input-search:-ms-input-placeholder {
	color: #fff;
}

.sidebar .input-search::-webkit-input-placeholder {
	color: #fff;
}

.sidebar ul li {
	border-bottom: 1.5px solid #e7e7e7;
	border-right: 1.5px solid #e7e7e7;
	background-color: white;
	list-style: none;
}

.sidebar ul li a {
	text-decoration: none;
	list-style: none;
}

sidebar navbar-nav li ul li:hover a {
	background-color: #3BAFDA;
	list-style: none;
}

.sidebar ul li a.active {
	background-color: #3BAFDA;
	color: #434A54;
}

.boton-cabecera:hover {
	background-color: #E6E9ED;
	color: #3BAFDA;
}

.sidebar .arrow {
	float: right;
}

.sidebar .fa.arrow:before {
	content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
	content: "\f107";
}
/*
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
 
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
       list-style:none;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}*/
@media ( min-width :768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 250px;
		margin-top: 51px;
	}
	.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks,
		.navbar-top-links .dropdown-alerts {
		margin-left: auto;
	}
}

/*****************************************************/
/****** Estilos para formularios *******/
/**********************************************************/
.form-horizontal h1 {
	color: #434A54;
	font-weight: bold;
}

.form-horizontal  h2 {
	color: #434A54;
}

.form-horizontal p {
	color: #434A54;
	font-family: "Roboto Light", "Roboto", Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.form-horizontal label:after {
	content: ": ";
}

.form-horizontal .caja-t1 {
	width: 100px;
	color: #606B76;
	font-size: 12 px;
	padding: 2px;
}

.form-horizontal .caja-t2 {
	width: 150px;
	color: #606B76;
	font-size: 12 px;
	font-family: "Roboto Medium", "Roboto", Arial, Helvetica, sans-serif;
	padding: 2px;
}

.form-horizontal .caja-t3 {
	width: 250px;
	color: #606B76;
	font-size: 12 px;
	font-family: "Roboto Medium", "Roboto", Arial, Helvetica, sans-serif;
	padding: 2px;
}

.form-horizontal .caja-t4 {
	width: 350px;
	color: #606B76;
	font-size: 12 px;
	font-family: "Roboto Medium", "Roboto", Arial, Helvetica, sans-serif;
	padding: 2px;
}

.form-horizontal .informacion {
	color: #4FC1EA;
	font-size: 18px;
}
/* ------------------------------------------------------------------------*/
/* ---------->>> Colores estandar para mensajes  <<<-------*/
/* -----------------------------------------------------------------------*/
.alert-success:before {
	content: "\f05d \00a0 \00a0";
	display: inline;
	font-family: fontAwesome;
	float: left;
	padding: 0 15px;
	font-size: 15px;
	top: -3px;
	position: relative;
}

.alert-danger:before {
	font-family: fontAwesome;
	content: "\f00d ";
	display: inline;
	float: left;
	padding: 0 15px;
	font-size: 15px;
	top: -3px;
	position: relative;
}

.alert-warning:before {
	font-family: fontAwesome;
	content: "\f06a \00a0 \00a0 ";
	display: inline;
	float: left;
	color: #F6BB41;
	padding: 0 15px;
	font-size: 15px;
	top: -3px;
	position: relative;
}

.alert-info:before {
	font-family: fontAwesome;
	content: "\f05a \00a0 \00a0 ";
	display: inline;
	float: left;
	padding: 0 15px;
	font-size: 15px;
}

/**********tabs************/
.form-horizontal .nav-tabs wizard>li>a {
	margin-right: 2px;
	border: 1px solid transparent;
	border-radius: 20px;
	background-color: #C2CAD2;
	color: #fff;
	font-weight: bold;
}

.form-horizontal .nav-tabs wizard>li.active>a, .form-horizontal .nav-tabs>li.active>a:focus
	{
	color: #fff;
	background-color: #4FC1EA;
	border-bottom-color: transparent;
	font-weight: bold;
}

.form-horizontal .nav-tabs wizard>li>a.active:hover {
	background-color: #33AFD9;
	color: #fff;
}
/******tab ui*********/
.form-horizontal .nav-tabs wizard>.uib-tab>div {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin-right: 5px;
	font-size: 16px;
	background-color: #C2CAD2;
	border-radius: 20px;
	border: 0;
}

.form-horizontal .tab-panel {
	margin-top: 20px;
}

.form-horizontal .nav-tabs>.uib-tab.active>div {
	background-color: #4FC1EA;
}

.form-horizontal .nav-tabs>.uib-tab.active:focus>div {
	background-color: #4FC1EA;
}

.form-horizontal .nav-tabs>.uib-tab.active:hover>div {
	background-color: #33AFD9;
	color: #fff;
}

.panel-linea-tabs {
	background-color: #c2cad2;
	border: 0 none;
	height: 5px;
	margin-bottom: 10px;
	position: relative;
	right: -5px;
	top: 35px;
	width: 200px;
	z-index: -100;
}

.form-horizontal .nav-tabs {
	border-bottom: 0;
}

.form-horizontal .nav {
	padding-left: 0;
}

.form-horizontal .glyphicon-info-sign:before {
	position: relative;
	content: "\e086 \00a0";
	color: #4FC1EA;
	z-index: 3;
	font-size: 20px;
	float: right;
	margin-left: 10px;
}
/********Alertas de vencimiento**************/
.alert-vencimiento {
	padding: 15px;
	margin-bottom: 20px;
	border: 0;
	border-radius: 0px;
	font-size: 10px;
	width: 75%;
	color: #fff;
}

.alert-vencimiento-danger {
	background-color: #ED6D55;
}

.alert-vencimiento-info {
	background-color: #00B1D7;
}

.alert-vencimiento-success {
	background-color: #96C568;
}

.dias-vencimiento {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}
/* -----------------------------------------------------------------*/
/* ---------->>> Paginas de Error                          <<<------*/
/* ---------------------------------------------------------------*/
.pagina-error {
	width: 100%;
	height: 100%;
	min-height: 450px;
	padding: 0 20px 0 0;
	text-align: center;
	color: #fff;
}

.pagina-error-text {
	font-size: 20pt;
	color: #fff;
	font-weight: normal;
	padding-top: 30px;
}
/*Error 404*/
.pagina-error-404 {
	background-color: #434A54;
	font-family: 'Roboto Medium';
}

.pagina-error-404 h1 {
	font-size: 88pt;
	color: #fff;
}

.pagina-error-404 h2 {
	font-size: 245pt;
	color: #fff;
}

.pagina-error-404 p {
	font-size: 22pt;
	color: #434A54;
	background-color: #E7E8E8;
	padding: 10px;
	margin: 0 100px 0 100px;
	width: 75%;
}

/*Error 403*/
.pagina-error-403 {
	background-color: #666D79;
	font-family: 'Roboto Medium';
	color: #fff;
}

.pagina-error-403 h1 {
	color: #fff;
	font-size: 88pt;
}

.pagina-error-403 h2 {
	color: #fff;
	font-size: 245pt;
}

.pagina-error-403 p {
	font-size: 49pt;
	color: #fff;
}
/*Error 500*/
.pagina-error-500 {
	color: #fff;
	background-color: #AAB2BD;
	font-family: 'Roboto Medium';
}

.pagina-error-500 h1 {
	font-size: 246pt;
	color: #fff;
}

.pagina-error-500 h2 {
	font-size: 88pt;
	color: #fff;
}

.pagina-error-500 p {
	font-size: 33pt;
	color: #fff;
}

/**ayudas contextuales para campos de texto*/
.error-contextual {
	background: #DA4453;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left: 8px;
	padding: 1px 6px;
	z-index: 999;
	position: absolute; /*formatea en dos lineas*/
	display: none;
}

.error-contextual::before {
	content: "\25C0";
	color: #DA4453;
	position: absolute;
	top: 1px;
	left: -6px;
}

.sri-spacer {
	margin-right: 2px;
}

.sri-color-rojo {
	color: #DA4453;
}

.sri-color-celeste {
	color: #4FC1EA;
}

.sri-link {
	text-decoration: none !important;
	cursor: pointer !important;
}

.sri-spacer {
	margin-right: 2px;
}

.sri-color-rojo {
	color: #DA4453;
}

.sri-color-celeste {
	color: #4FC1EA;
}

.sri-link {
	text-decoration: none !important;
	cursor: pointer !important;
}

.button-wrapper .btn {
	margin-bottom: 10px;
}

/*---pestanias de accesibilidad----*/
.pestania-accesibilidad {
	border: 2px #c2cad2;
	background: #c2cad2;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	color: #fff;
	position: relative;
}

.semi-circulo-izquierda {
	width: 55px;
	height: 40px;
	-moz-border-radius: 0 100px 100px 0;
	-webkit-border-radius: 0 100px 100px 0;
	border-radius: 40px 0px 0px 40px;
	top: 10px;
	float: right;
}

.circulo {
	width: 40px;
	height: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	float: right;
}

.semi-circulo-izquierda:hover, .circulo:hover {
	background-color: #33afd9;
	color: #fff;
}

.dropdown-menu-accesibilidad {
	top: 110px;
	min-width: 20px;
	border: none;
}
/* iconos */
.icono {
	font-size: 22px;
	width: 40px;
	height: 40px;
}
/** Oculta un elemento pero lo deja para la accesibilidad**/
.elemento-accesible {
	display: none;
}
/*Tooltip*/
.title {
	position: relative;
	z-index: 0;
}

.title:hover {
	background-color: transparent;
	z-index: 1;
}

.title span {
	position: absolute;
	width: 10em;
	font-family: 'Roboto Light';
	visibility: hidden;
	font-size: 0.8em;
	max-width: 25em;
	padding: 3px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #4fc1ea;
	border-radius: 0px;
}

.title:hover span {
	visibility: visible;
	top: 24px;
	left: 25px;
}