<!--<section>
PRINCIPAL
<a ui-sref="sri.login">DASHBOARD</a>

<div ui-view="">
	
</div>

</section>-->


<header id="cabecera-login">

</header><!-- /header -->

<section id="contenido-login" >
<div class="container">
    <div class="row">
        <div class="singin-form">
            <form ng-submit="login()">            	
            	<div id="logoDiv" class="form-group">            		
            			<img src="desa/recursos/imagenes/logo.svg" alt="Logo SRI" class="logo-signin">            		
            	</div>
                 <!--<h2 class="text-center">Login Page</h2>-->
                
                <br/>
                <br/>
                <div class="form-group">
                	<label for="email">RUC/CI</label>           
                    <input type="email" class="form-control no-round" id="userid" placeholder="">
                </div>
                <div class="form-group">
                	<label for="">ID adicional</label>
                	<input type="text" name="" value="" placeholder="" class="form-control no-round">
                </div>                
                <div class="form-group">
                	<label for="email">Contraseña</label>
                    <input type="password" class="form-control no-round" id="pwd" placeholder="Password">                
                </div>
                <div class="align-center">
	                
	                	<button type="submit" class="btn btn btn-info botonLogin">Iniciar Sesión</button>
	               
                </div>
               
                <br/>
                <br/>
               <div class="align-center">
               <div class="btn">
    	            	<a href="" title="" >
	            			<span class="glyphicon glyphicon-lock" aria-hidden="true" ></span>
	            			Recuperar Contraseña
	            		</a>           	
               </div>

               </div>
            </form>
        </div>
    </div>
</div>

</section>

<footer id="pie-login">
      Internet Explorer 9.0, Chrome 36.0.1, Firefox 31.0 | Resolucion óptima: 1280x1024 </br>
© Copyright 2015 Servicio de Rentas Internas.
</footer>    


