	<!-- CONTENIDO MODULO -->
	<!-- @if true -->	
		<div ng-app="saludo" ng-controller="moduloControlador">

			<div >	 	
				 <h1 translate>MDO.TITULO</h1>
			</div>
	        <a ui-sref="sri.saludo.saludar">Enlace Saludar</a>
	        <div data-ui-view></div>   
	    </div>       
	<!-- @endif -->    