<div ng-app="saludo" ng-controller="moduloControlador" class="container"> 
<div ng-controller="SaludoControlador">
		<!--  
			<button class="btn" ng-click="switchLanguage('es')" >ESPA&#209;OL</button>
	    	<button class="btn" ng-click="switchLanguage('en')" >INGLES</button>
	    -->   
    <hgroup> 
        <h1 translate>SAL.SALUDO.TITULO</h1>
        <h2 translate>SAL.SALUDO.SUB_TITULO</h2>
    </hgroup><br/>
    <span translate class="instruccion">SAL.SALUDO.INSTRUCCIONES
    </span>
    <i class="glyphicon glyphicon-info-sign" data-uib-tooltip="{{'SAL.SALUDO.INSTRUCCIONES' | translate}}"></i>
    <div>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" >
    <span translate>{{alert.msg}}</span>
    <span>{{error}}</span>
    </uib-alert>
    </div>
    

    <div >
    {{saludo}} 
    </div>
    <div>
        <button ng-click="saludar()" class="btn btn-primary" translate>SAL.SALUDO.BOTON.SALUDAR</button>
        <button ng-click="limpiar()" class="btn btn-secondary" translate>SAL.SALUDO.BOTON.LIMPIAR</button>
    </div>


</div>
</div>

