<div class="pagina-error pagina-error-403">
    <br/>
    <hgroup>             
        <h1 data-translate>SRI.403.TITULO</h1>
        <h2 data-translate>SRI.403.SUBTITULO</h2>       
    </hgroup>
    <div>
        <p  data-translate>SRI.403.MENSAJE</p>
    </div>
    <br/><br/>
</div>