
<ul class="nav navbar-top-links navbar-right">
    <li class="alineacion-derecha">
        Marianela Monserrath Guachamin Villacreses
        <br/> 0700736183001
    </li>
           <li id="itemPerfil" tabindex="3" >
            <a href="" data-ng-click="mostrarPerfilUsuario();"  role="button">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
        </li>
      <!-- Notificaciones y mensajes-->
    <li id="itemMensajes" tabindex="4" class=" boton-cabecera">
        <a data-toggle="dropdown" id="btnMensajes" href="">
            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
            <span class="notificacion-burbuja">3</span>
        </a>
        <ul class="dropdown-menu"  role="button">
            <li class="estilo-lista"><a data-toggle="dropdown"><span class="color-texto">
                Nueva declaracion receptada<br>
                Abril 2015</span></a>
            </li>
            <li><a data-toggle="dropdown"  role="button"><span class="color-texto">
                Nueva declaracion receptada<br>
                Marzo 2015</span></a>
            </li>
            <li><a data-toggle="dropdown"  role="button"><span class="color-texto">
                Nueva declaracion receptada<br>
                Enero 2015</span></a>
            </li>
            <li class="divider"></li>
            <li><a data-toggle="dropdown"  role="button"><span class="color-texto">
               Ver todos</span></a>
            </li>
        </ul>
    </li>
    <!-- Idioma-->
    <li id="itemIdioma" class="dropdown" tabindex="5">
        <a data-toggle="dropdown"  role="button" tabindex="6">
           <i class="glyphicon glyphicon-flag"></i>  {{lenguajeActual | uppercase}}
        </a>
        <ul class="dropdown-menu">
            <li>
                <a data-ng-click="switchLanguage('es')"  role="button">
                    <strong class="color-texto" data-translate>SRI.OPCION.LENGUA_ESPANIOL</strong>
                </a>
            </li>
            <li>
                <a data-ng-click="switchLanguage('en')"  role="button">
                    <strong class="color-texto" data-translate>SRI.OPCION.LENGUA_INGLES</strong>
                </a>
            </li>
            <li>
                <a data-ng-click="switchLanguage('qu')"  role="button">
                   <strong class="color-texto" data-translate>SRI.OPCION.LENGUA_QUICHUA</strong>
                </a>
            </li>
        </ul>
    </li>
    <!-- Salir-->
    <li id="itemSalir" tabindex="6">
        <a href="#"  role="button">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </li>
</ul>
