<seccion class=" main-header ">
	 <a href="" class="sidebar-toggle " data-ng-click="colapsarMenu()"
		role="button"> <span class="sr-only">Toggle navigation</span>
	</a> <a class="navbar-brand" rel="home" href="" data-tooltip="SRI"> <img class="logo" alt="Logo SRI en linea"
		src="recursos/imagenes/logo.svg">
	</a> 
</seccion>
<seccion id="cabecera-botones" ng-include="'app/plantilla/paginas/cabecera-botones.html'"></seccion>