<div id="contenidoInicio" class="wrapper">
	<header class="main-header">
		<nav class="navbar navbar-default navbar-static-top cabecera-principal " role="navigation">

			<div id="cabeceraPrincipal" data-ng-include="'app/plantilla/paginas/cabecera.html'"></div>
		</nav>
		<div>
		<a type="button" data-toggle="dropdown"  class="btn pestania-accesibilidad semi-circulo-izquierda hidden-xs dropdown-toggle">
			<i class="fa fa-child pestania-flotante"></i>
		</a>	
		 <ul class="dropdown-menu dropdown-menu-accesibilidad  pull-right ">
            <li class="estilo-lista"><a data-toggle="dropdown"><span class="color-texto glyphicon glyphicon-font"></span></a></li>
           <li class="estilo-lista"><a data-toggle="dropdown"><span class="color-texto glyphicon glyphicon-plus-sign"></span></a></li>
           <li class="estilo-lista"><a data-toggle="dropdown"><span class="color-texto glyphicon glyphicon-minus-sign"></span></a></li>
           <li class="estilo-lista"><a data-toggle="dropdown"><span class="color-texto glyphicon glyphicon-question-sign"></span></a></li>
        </ul>	
        </div>
	</header>
	<!-- navegacion -->
	<aside class="main-sidebar">
		<section class="sidebar navbar-nav">
			<data-menu-directiva id="menuNavegacion" data-uib-collapse="isCollapsed">
			</data-menu-directiva>
		</section>
	</aside>

	<!--contenido-->
	<div class="content-wrapper" data-ng-class="getClass(isCollapsed)">
		<div>
			<!--cabecera de la pagina -->
			<section >
				<div class="breadcrumb">
					<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.proxy"
						template-url="recursos/libs/externos/angular-utils-ui-breadcrumbs/uiBreadcrumbs.tpl.html"></ui-breadcrumbs>
				</div>
			</section>
			<!--  cuerpo del contenido -->
			<section id="contenido-principal">
				<section id="contenidoAplicaciones" data-ui-view></section>
			</section>
		</div>
	</div>
	<a class="btn pestania-accesibilidad circulo hidden-xs">
			<i class="fa fa-weixin pestania-flotante"></i>
		</a>
	<footer id="pieAplicaciones" class="main-footer">
	 </footer>
</div>