<meta charset="utf-8">
<header id="cabecera-login"> </header>
<!-- /header -->
<section id="contenido-login" role="main">
	<div class="container ">
		<div class="row">
			<form data-ng-submit="login()" class="form-horizontal singin-form" novalidate>
				<div id="logoDiv" class="form-group">
					<img src="recursos/imagenes/logo.svg" alt="Logo SRI" class="logo-signin">
				</div>
				<br /> <br />
				<div class="form-group">
					<label class="lbl-login col-xs-12" for="txtIdUsuario" data-translate> SRI.LOGIN.ETIQUETA.RUC</label>
					<div class="col-xs-10">
						<input type="text" class="form-control" id="txtIdUsuario" data-translate
							data-translate-attr-placeholder="SRI.LOGIN.ETIQUETA.RUC">
					</div>
					<div class="col-xs-2">
						<i class="glyphicon glyphicon-info-sign title"><span data-translate>SRI.LOGIN.TOOLTIP.RUC</span></i>
					</div>
				</div>
				<div class="form-group ">
					<label class="lbl-login col-xs-3" for="txtIDAdicional" data-translate>SRI.LOGIN.ETIQUETA.ID_ADICIONAL</label>
					<div class="col-xs-10">
						<input type="text" id="txtIDAdicional" name="txtIDAdicional" value="" data-translate
							data-translate-attr-placeholder="SRI.LOGIN.MASCARA.ID_ADICIONAL" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="lbl-login  col-xs-3" for="txtClave" data-translate>SRI.LOGIN.ETIQUETA.CLAVE</label>
					<div class="col-xs-10">
						<input type="password" class="form-control" id="txtClave" data-translate
							data-translate-attr-placeholder="SRI.LOGIN.MASCARA.CLAVE">
					</div>
				</div>
				<div class="recuperar col-xs-10">
					<button type="submit" id="btnInicio" name="btnInicio" class="btn btn-primary" data-translate>SRI.LOGIN.BOTON.INICIAR_SESSION</button>
				</div>
				<div class=" recuperar col-xs-10">
					<div class="btn">
						<a href="" title="" class="enlace-login"> <span class="glyphicon glyphicon-lock iconos-login"
							aria-hidden="true"></span> <span data-translate> SRI.LOGIN.BOTON.RECUPERAR </span><br> <span data-translate>
								SRI.LOGIN.BOTON.RECUPERAR_CLAVE</span>
						</a>
					</div>
					<br> <br> <br> <br>
					<div class=" nav navbar-top-links col-xs-10" role="natigation">
						<div class="form-group ">
							<ul class="lista-sin-vinieta">
								<li id="itemIdioma" class="dropdown"><a data-toggle="dropdown" role="button"> <i
										class="glyphicon glyphicon-flag iconos-login" data-uib-tooltip="Internacionalización"></i> {{lenguajeActual |
										uppercase}}
								</a>
									<ul class="dropdown-menu">
										<li><a data-ng-click="switchLanguage('es')"> <strong class="color-texto" data-translate>SRI.OPCION.LENGUA_ESPANIOL</strong>
										</a></li>
										<li><a data-ng-click="switchLanguage('en')"> <strong class="color-texto" data-translate>SRI.OPCION.LENGUA_INGLES</strong>
										</a></li>
										<li><a data-ng-click="switchLanguage('qu')"> <strong class="color-texto" data-translate>SRI.OPCION.LENGUA_QUICHUA</strong>
										</a></li>
									</ul></li>

								<li><a id="btnAccesibilidad" name="btnAccesibilidad" href="" class="enlace-login" role="button"> <span
										class="fa fa-child iconos-login" data-uib-tooltip="Accesibilidad"></span>
								</a></li>

							</ul>


						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<footer id="pie-login">
	<span data-translate> SRI.LOGIN.ETIQUETA.NAVEGADORES </span> | <span data-translate>SRI.LOGIN.ETIQUETA.RESOLUCION_OPTIMA
	</span></br> <span data-translate> SRI.LOGIN.ETIQUETA.DERECHOS </span>
</footer>