
<li class="sidebar-search">
	<div class="input-group" role="search">

		<span class="input-group-btn"> <span class="glyphicon glyphicon-search boton-search"></span>
		</span> <label class="elemento-accesible" for="txtBuscar">Texto a buscar</label> <input id="txtBuscar" name="txtBuscar"
			type="text" class=" form-control input-search" data-translate data-translate-attr-placeholder="SRI.MASCARA.BUSCAR">
	</div>
</li>
<li data-ng-class={{item.ngclass}} data-ng-repeat="item in items">
	<!-- opciones sin subitems--> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1"
	aria-expanded="true" aria-controls="collapse1" data-ui-sref={{item.url}} data-ng-show="!item.subItems" tabindex="0">
		<i class={{item.icono}}></i> {{item.nombre}}
</a> <!-- opciones con subitems--> <a data-ui-sref={{item.url}} data-ng-click="check(item.id)"
	data-ng-show="item.subItems.length" tabindex="0" role="button" aria-expanded="false"> <i class={{item.icono}}></i>
		{{item.nombre}} <span class="glyphicon glyphicon-chevron-down pull-right"></span>
</a>

	    <ul class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" data-uib-collapse="collapseVar!=item.id" data-ng-show="item.subItems.length">  

        <li data-ui-sref-active="active" data-ng-repeat="subItem in item.subItems" >
           
            <a data-ui-sref={{subItem.url}} tabindex="0" data-ng-click="limpiarAlertas()">
                <i class={{subItem.icono}} ></i> 
                {{subItem.nombre}}
            </a>
        </li>
    </ul>   

</li>