  <aside class="navbar-default" role="navigation">
                <div class="sidebar-nav navbar-collapse">             
                     <ul class="sidebar-menu nav iteMenu" id="side-menu" data-menu-items="menuitems">
                     </ul>
                </div>
 </aside>